[2021-02-25 20:39] v1v opened #6 "Leverage the sh/bat steps with the system that interact with"
### What

Allow to create span labels dynamically for the steps if they have an environment variable set.

### Why

Some pipeline steps interact with third party services. This could help to enhance the transactions/spans with more information about what are the services they interact with.

### Design

Env variables could be set dynamically based on the below nomenclature:

* `OTEL_STEP_<ATTRIBUT

[2021-03-01 09:07] cyrille-leclerc opened #8 "Parallel steps are not properly chained to parent & children steps"
Parallel steps are not properly chained to parent & children steps

![jenkins-otel-plugin-parallel-step-chaining](https://user-images.githubusercontent.com/459691/109475331-de0ba700-7a75-11eb-97d5-563c0bee1c78.jpg)

[2021-03-03 11:02] cyrille-leclerc opened #9 "On Jenkins restart, jobs resuming cause "VerifyException: No span found for my-pipeline #yy"""
[code]

[2021-03-05 15:10] cyrille-leclerc commented on #8
Problem isolated, I'm working on it.

[2021-03-05 15:38] cyrille-leclerc commented on #6
I'm wondering if we should introduce some OpenTelemetry steps to expose `io.opentelemetry.api.trace.Span#updateName(newName)`  and  `io.opentelemetry.api.trace.Span#setAttribute(key, value)`

[2021-03-06 14:11] cyrille-leclerc commented on #6
The first improvement could be to use the `label` attribute of the shell steps (`sh`...): https://www.jenkins.io/doc/pipeline/steps/workflow-durable-task-step/#sh-shell-script

[2021-03-08 11:58] v1v opened #11 "labels.jenkins_pipeline_step_type for stages contain the name with special chars"
The spans for the `stage` contains the value instead the `stage type`

![image](https://user-images.githubusercontent.com/2871786/110318394-57227580-8005-11eb-98ff-fdc6f2c07721.png)

See the span in json format

[code]

What do you think if we create a new label for the name of the stage and set the type as stage instead?

[code]

[2021-03-09 12:52] #11 closed

[2021-03-09 16:07] cyrille-leclerc opened #15 "NullPointerException in MonitoringComputerListener.postConstruct"
[code]

[2021-03-09 16:21] cyrille-leclerc commented on #15
Fixed by https://github.com/jenkinsci/opentelemetry-plugin/commit/339943aa5dc301a6d5469010d6d344f8bdc5a101

[2021-03-09 18:42] v1v opened #16 "Some Steps are treated as transactions upon controller restart"
With the latest changes some steps are processed as transactions:

[code]

[2021-03-09 18:43] v1v opened #17 "metrics for jenkins.agents.* are not generated"
With the latest changes, the metrics for the number of agents (online and offline) are not populated.

[2021-03-09 20:19] cyrille-leclerc commented on #17
Duplicate of https://github.com/elastic/apm-server/issues/4718

[2021-03-09 21:10] cyrille-leclerc commented on #17
See fix https://github.com/jenkinsci/opentelemetry-plugin/pull/18

[2021-03-09 21:52] #17 closed

[2021-03-10 10:29] cyrille-leclerc opened #19 "Make Otel Metrics Exporter interval configurable"
### Feature Request

Make Otel Metrics Exporter interval configurable. Today it's hard coded at 60s

See https://github.com/jenkinsci/opentelemetry-plugin/blob/0742019d6a97aaffbf020d6e44c50172483a6c97/src/main/java/io/jenkins/plugins/opentelemetry/OpenTelemetrySdkProvider.java#L124

[2021-03-11 10:08] #8 closed

[2021-03-11 17:50] v1v opened #21 "Record agent/node steps"
### What

Trace the agent/node steps as spans

### Why

Then we can start answering questions such as:

- How long does it take to provision the node?
- What's the agent with more calls?

[2021-03-11 17:55] v1v commented on #21
My very first attempt with the below pipeline

[code]

![image](https://user-images.githubusercontent.com/2871786/110832064-ceb90480-8292-11eb-8f94-02851b6e224c.png)

[2021-03-11 21:47] cyrille-leclerc commented on #21
@v1v hmm, we are likely to have to track "onAfterStartNode" in addition to the "onBeforeStartXxx" that we do usually
I have implemented this a while ago and deleted the code to simplify, this piece of code is hard to read :neutral_face:

https://github.com/jenkinsci/opentelemetry-plugin/blob/7d80e48df4e27517a748cd443d32c28431638a48/src/main/java/io/jenkins/plugins/opentelemetry/job/jenkins/GraphLi

[2021-03-11 22:41] v1v commented on #6
@v1v would this solve your problem?

Do you mean something like the below snippet?

[code]

If so, will it be possible to populate the parent span attributes to the child `sh` span?

[2021-03-12 09:54] v1v opened #23 "Create JobAction to visualise easily the link to the APM service"
The current approach works for the build actions, but can we also enable the same approach for the job itself?

Therefore in the Job view we can see a link to the APM service?

<placeholder>

[2021-03-12 12:46] #23 closed

[2021-03-12 12:49] #21 closed

[2021-03-12 12:56] v1v opened #25 "Add more features to the node/agent steps"
Follow up https://github.com/jenkinsci/opentelemetry-plugin/issues/21

To answer some questions such as:

- Should the `allocate` and `ready` spans use the same `labels?
  - the `allocate` one is the only with the new attribute, but does it make sense to populate that attribute to the child span?
- Should we calculate the provisioning time between the allocate and the ready spans and provide a new

[2021-03-13 16:14] cyrille-leclerc commented on #6
For this shell step, i was thinking of using the `label` attribute of the `sh` step (`label: docker/login my.docker.registry`). The limit in my rationale is that I can just set the span name and not inject span attributes like `jenkins.pipeline.step.type: docker/login`.

⚠️  Note that I'm not sure that it's a good idea to name the span , the best could be to use the [Semantic conventions for RPC s

[2021-03-16 20:32] v1v opened #34 "Identify the node provider"
### Feature Request

In a CI environment with different type of agents, such as:
- static workers
- ephemeral workers.

And also different cloud providers, such as:
- GCE
- EC2
- K8s

I'd like to identify the node spans with their provider therefore I can easily monitor the providers easily.

I don't know if the FlowNode can provide those details, but if it's possible, should the span have a new l

[2021-03-16 21:59] v1v opened #35 "Add ColumnView with the URLs"
### Dependencies

### Feature Request

Use https://javadoc.jenkins.io/hudson/views/ListViewColumn.html to add a link in the Jobs View, something like:

![image](https://user-images.githubusercontent.com/2871786/111385520-d6b5e180-86a2-11eb-949d-7b77a5a68528.png)

[2021-03-16 22:03] v1v opened #36 "🚧 Parallel step does not work"
⚠️

### What

When using the parallel step to generate dynamically a bunch of parallel stages, the spans are not created

### Screenshots

![image](https://user-images.githubusercontent.com/2871786/111385760-2bf1f300-86a3-11eb-8389-d78fbe847a25.png)

![image](https://user-images.githubusercontent.com/2871786/111385796-36ac8800-86a3-11eb-839e-96f764fb8178.png)

### Configuration

- Jenkins LTs
- La

[2021-03-17 10:52] cyrille-leclerc commented on #36
I thought I fixed it, maybe we have not released yet, or this would be an older version of the plugin

[2021-03-17 10:58] cyrille-leclerc opened #37 "root span name using the job name should exclude the PR number to remain a low cardinality value"
The root span name in Multi Branch Pipelines is a high cardinality value due to the name of the Pull requests.
we should exclude the PR number from the span name.

![image](https://user-images.githubusercontent.com/459691/111457169-284c8380-8718-11eb-88cd-6789d6f73aba.png)

![image](https://user-images.githubusercontent.com/459691/111457320-53cf6e00-8718-11eb-9fca-d37bfbba04d6.png)

See also:
* ht

[2021-03-17 15:26] v1v commented on #36
I'll verify if the existing installation is correct, maybe I messed up with the k8s and JCasC somehow.

[2021-03-17 21:11] v1v commented on #36
False alarm!! Sorry about that.

The issue was related to a wrong deployment of k8s with an old version of the plugin

To illustrate what I meant, the latest version of the plugin provides those details

![image](https://user-images.githubusercontent.com/2871786/111538905-2c52c280-8765-11eb-9437-f64150506044.png)

[2021-03-17 21:11] #36 closed

[2021-03-18 22:48] v1v commented on #35
Similar to https://github.com/jenkinsci/opentelemetry-plugin/issues/23

[2021-03-19 11:08] #35 closed

[2021-03-20 15:43] v1v commented on #25
https://github.com/jenkinsci/opentelemetry-plugin/pull/40 implemented it

[2021-03-20 15:43] #25 closed

[2021-03-21 18:44] v1v opened #42 "Capture declarative condition post conditions as spans (`always`, `cleanup`, `success`...)"
### Feature Request

Introduce wrapping spans for families of post conditions in declarative pipelines: `always`, `changed`, `fixed`, `regression`, `aborted`, `success`, `unstable`,  `unsuccessful`, `failure`, `cleanup`.

- https://www.jenkins.io/doc/book/pipeline/syntax/#post-conditions
- https://www.jenkins.io/doc/pipeline/tour/post/

For instance:

[code]

Produces:

![image](https://user-image

[2021-03-22 19:12] v1v opened #45 "Add more attributes to the runs"
### Dependencies

### Feature Request

Add some attributes regarding the run in order to help with the filtering:

#### Multibranch pipeline

* detect if the transaction is related to:
  * a branch
  * pul request
  * tag

#### All

* Build description, people might use it to add more context to the build.
* build result (unstable, failure, aborted, success)
* build cause

For instance:

![image](

[2021-03-24 08:55] #19 closed

[2021-03-24 10:27] cyrille-leclerc commented on #45
See recent improvements on the attributes of `git`and `checkout ...` spans where we now capture the git branch and the git user

[2021-03-24 11:03] #37 closed

[2021-03-24 11:21] cyrille-leclerc commented on #42
You mean that you want to capture a "Post Condition" wrapping span, correct?

[2021-03-24 11:24] cyrille-leclerc opened #48 "Reliability Tests"
Verify the reliability of the OpenTelemetry Plugin:
* Don't break Jenkins
* Don't pollute the logs

# Links

* is blocked by https://github.com/jenkinsci/opentelemetry-plugin/issues/9
* is blocked by https://github.com/jenkinsci/opentelemetry-plugin/issues/16

[2021-03-24 11:25] cyrille-leclerc commented on #16
Could it be a bug on restart related to https://github.com/jenkinsci/opentelemetry-plugin/issues/9 ?

[2021-03-24 11:28] cyrille-leclerc opened #49 "Scalability Tests"
Scalability Tests

[2021-03-24 11:37] cyrille-leclerc opened #51 "Elastic Observability Redirection URL is broken"
Redirection URL no longer works

Example:
https://localhost:5601/app/apm/services/jenkins/transactions/view?rangeFrom=2021-03-24T11:25:53.019Z&rangeTo=2021-03-24T11:45:53.019Z&transactionName=scripted-pipeline-assigned-to-specific-node&transactionType=unknown&latencyAggregationType=avg

![image](https://user-images.githubusercontent.com/459691/112304359-ade2ad00-8c9d-11eb-824d-45bdf824691e.png)

[2021-03-25 09:30] #9 closed

[2021-03-25 14:18] cyrille-leclerc commented on #51
Cause found: https://github.com/elastic/apm-server/issues/5006

[2021-03-25 14:25] cyrille-leclerc opened #54 "Update README.md documentation"
README.md documentation is outdated.

[2021-03-25 14:26] cyrille-leclerc commented on #51
Close as it's fixed for the integration architecture based on the Elastic Observability OTLP intake.

[2021-03-25 18:02] v1v commented on #51
I'm testing it out https://repo.jenkins-ci.org/incrementals/io/jenkins/plugins/opentelemetry/0.9-beta-rc247.1bb66b864848/ that points to the latest build -> https://github.com/jenkinsci/opentelemetry-plugin/commit/1bb66b8648487813111c6425f5fe971407216bbc

![image](https://user-images.githubusercontent.com/2871786/112519971-d4364480-8d92-11eb-8965-a51a19fc2d13.png)

and the redirect is not working:

[2021-03-25 21:56] cyrille-leclerc commented on #16
No fixed by https://github.com/jenkinsci/opentelemetry-plugin/pull/53
Idea: once an inconsistency has been detected on a span of a build, then we don't create create real spans, only no-op spans.

[2021-03-25 22:32] cyrille-leclerc commented on #51
@v1v I checked again and the new URL works well for me with Elastic Observability 7.12

[2021-03-26 09:33] cyrille-leclerc opened #56 "Stable CI & Jenkins Semantic Conventions"
See https://github.com/jenkinsci/opentelemetry-plugin/blob/master/src/main/java/io/jenkins/plugins/opentelemetry/semconv/JenkinsOtelSemanticAttributes.java

[2021-03-26 09:50] cyrille-leclerc opened #57 "Collect cloud correlation attributes for the Jenkins build agents and controller"
Collect cloud correlation attributes for the Jenkins build agents and controller

See https://github.com/open-telemetry/opentelemetry-java/tree/main/extensions

See io.jenkins.plugins.opentelemetry.computer.MonitoringComputerListener.GetComputerAttributes

[2021-03-26 09:51] #45 closed

[2021-03-26 10:56] cyrille-leclerc commented on #16
@axw says: "If a span doesn't have a parent it'll be a transaction. If it does have a parent, then we check if it's SERVER and only then do we create a transaction -- otherwise it's a span"

[2021-03-26 12:58] cyrille-leclerc opened #58 "`git.username` reports the jenkins credentialsId rather than the git username"
`git.username` reports the jenkins credentialsId rather than the git username

https://github.com/jenkinsci/opentelemetry-plugin/blob/master/src/main/java/io/jenkins/plugins/opentelemetry/job/AbstractGitStepHandler.java#L36

[2021-03-29 07:44] cyrille-leclerc commented on #16
WIP https://github.com/jenkinsci/opentelemetry-plugin/tree/features/better-support-of-restarts

[2021-03-31 08:18] cyrille-leclerc commented on #16
Postpone milestone to v1.0

[2021-04-06 10:09] cyrille-leclerc commented on #51
Workaround: set all transactions to `type=unknown` waiting to have a consistent support of `type` across Elastic integration architectures.

[2021-04-06 14:30] #54 closed

[2021-04-06 14:31] cyrille-leclerc commented on #48
We still have to fix #16 in case of restarts but reliability of the plugin is confirmed thanks to many long running tests.

[2021-04-06 14:31] #48 closed

[2021-04-10 12:46] v1v commented on #6
I've been thinking about this particular feature and came up with the below idea.

People can opt-in if the step they call supports the `apm` attributes, therefore we could allow people to use a new key in their call. This will only work for steps that don't have an argument validation.

Unfortunately, the step itself should provide the DataBoundSetter for the `apm` argument:

[code]

If we like t

[2021-04-10 18:21] v1v opened #66 "Add span traces steps to help with distributes traces in any Jenkins shared library"
### Feature Request

A Jenkins shared library step does not match any span since it is not a FlowNode, but a wrapper that called some other built-in steps (either the ones provided by the Jenkins Core/Workflow or plugins).

Let's support a couple of steps to enable the distributed traces in any shared library explicitly:

`openSpan` (with some parameters)
`closeSpan` (with some parameters)
`create

[2021-04-12 08:07] cyrille-leclerc commented on #66
Great idea. I'm wondering how we could expose a subset of the OpenTelemetry API directly in the Jenkins pipeline language:
* `io.opentelemetry.api.trace.Tracer#spanBuilder()`
* `io.opentelemetry.api.trace.SpanBuilder#startSpan()`
* `io.opentelemetry.api.trace.Span#current()`
* `io.opentelemetry.api.trace.Span#end()`

[2021-04-12 19:18] #58 closed

[2021-04-14 14:43] v1v opened #70 "Add plugin name and version for the span caused by a plugin pipeline step"
### Dependencies

### Feature Request

I'm not sure whether this is something feasible!

Add the plugin name and version attributes for every span caused by a plugin pipeline step.

### Why

This could help us to correlate misbehaviours when a plugin gets updated.

[2021-04-14 18:12] v1v commented on #70
https://javadoc.jenkins.io/hudson/PluginManager.html#whichPlugin-java.lang.Class- and the Descriptor class should help with this

Further details -> https://groups.google.com/g/jenkinsci-dev/c/UbJAeh8UZnE

[2021-04-14 18:29] v1v commented on #70
and it works!

![image](https://user-images.githubusercontent.com/2871786/114760817-a6bc3580-9d57-11eb-80e2-60ec64d410c2.png)

[2021-04-16 07:27] cyrille-leclerc opened #73 "Monitor Jenkins controller JVM metrics"
### Feature Request

Capture JVM monitoring metrics: Garbage Collector activity, Heap and Non Heap size, CPU, threads

[2021-04-16 07:32] cyrille-leclerc opened #74 "Monitor Jenkins controller disk usage metrics"
### Feature Request

Capture Jenkins Disk Usage metrics.
The [Jenkins Simple Disk Usage Plugin] allows to monitor disk usage in the Jenkins Home at the at the job level.

See https://plugins.jenkins.io/cloudbees-disk-usage-simple/ and https://github.com/jenkinsci/prometheus-plugin/blob/prometheus-2.0.9/src/main/java/org/jenkinsci/plugins/prometheus/DiskUsageCollector.java

[2021-04-16 07:38] cyrille-leclerc opened #75 "Traces for HTTP requests"
### Feature Request

Add tracing to Jenkins controller HTTP requests (instrument the [Stapler](https://github.com/stapler/stapler) web framework).

[2021-04-16 07:39] cyrille-leclerc commented on #75
This is probably more useful to troubleshoot Jenkins code than to troubleshoot CI problems.

[2021-04-18 14:59] v1v opened #76 "Override global configuration remains previous broken configuration"
### Version report

### Results

When updating the authorisation from `authentication: "noAuthentication"` to `authentication: "otlpHeaderAuthentication"` with a wrong configuration, the configuration cannot be updated afterwards and it remains the previous configuration.

[code]

Therefore there is no an easy way to update with a new configuration.

Actual result:

![image](https://user-images.gi

[2021-04-18 15:01] v1v commented on #76
I've tried with JCasC to override the manual configuration with the one in source control, but same issue

https://gist.github.com/v1v/b64d827fdb461c3ce942065ec9d27bfd

[2021-04-21 07:37] #70 closed

[2021-04-28 10:10] cyrille-leclerc opened #80 "Span name "Node Allocation" is not intuitive"
Span name "Node Allocation" is not intuitive.

See Continuous Delivery Foundation vocabulary https://github.com/cdfoundation/sig-interoperability/blob/master/docs/vocabulary.md

| Project            |           |            |          |          |         |                        |
|--------------------|-----------|------------|----------|----------|---------|------------------------|
| **ArgoCD**

[2021-04-30 14:18] SeanHood opened #82 "Feat: Allow for specifying multiple OTLP Headers (see `OTEL_EXPORTER_OTLP_HEADERS`)"
# Feature Request

Hey, thought I'd take this new plugin for a spin but ran into a limitation not being able to specify multiple headers.

We use Honeycomb.io, who support OTLP/GRPC natively. However you need to specify the following headers:

[code]

Currently it looks like only a single header can be specified. Using the otel-collector will be a reasonable workaround for us for now.

[2021-05-03 11:53] cyrille-leclerc opened #86 "Support configuring additional attributes for traces and metrics (see `OTEL_RESOURCE_ATTRIBUTES`)"
### Feature Request

Support configuration to add attributes to traces, similar to `OTEL_RESOURCE_ATTRIBUTES` ([here](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/sdk-environment-variables.md)).

Example use cases
* Qualify better the Jenkins instance
* Elastic needs a "transaction.type" ([here](https://github.com/jenkinsci/opentelemetry-plugin/blob/opentel

[2021-05-03 11:55] cyrille-leclerc commented on #82
Thanks @SeanHood for using this integration.
Could Honeycomb support passing the dataset name as an attribute of the traces and metrics? We identified the need for a generic mechanism to add such attributes, see https://github.com/jenkinsci/opentelemetry-plugin/issues/86 .

[2021-05-03 19:17] SeanHood commented on #82
I think they're probably set on using the headers for this configuration. It would be similar to your linked issue, but exposing the option to set multiple `OTEL_EXPORTER_OTLP_HEADERS`: https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/protocol/exporter.md Looks like Honeycomb maybe the only one who require two headers.

[2021-05-03 21:32] cyrille-leclerc commented on #82
Good catch for `OTEL_EXPORTER_OTLP_HEADERS`. I have used it to instrument applications and forgot about it when working on Jenkins instrumentation :-)
Totally makes sense.

[2021-05-04 08:51] skundrik opened #87 "StackOverflowError"
### Version report

Jenkins versions report:

[code]

### Reproduction steps

- Installed opentelemetry plugin 0.9
- Observed the following in the logs

[code]

[2021-05-04 12:31] cyrille-leclerc commented on #87
That very unexpected, it seems to be a problem of infinite recursion on `AbstractItem.getParent()`. Like if `getParent()` was returning `this` .

Do you know what is the impacted job type? Do you use special plugins that could create special folders... ?

https://github.com/jenkinsci/jenkins/blob/jenkins-2.263.4/core/src/main/java/hudson/model/AbstractItem.java#L477

[code]

[2021-05-04 19:47] v1v opened #88 "Customise the service name to support CI at Scale"
### What

Currently the service name is hardcoded with the `jenkins` service name

See https://github.com/jenkinsci/opentelemetry-plugin/blob/390ad7d1c156dff037219a018c99cd65a949e71b/src/main/java/io/jenkins/plugins/opentelemetry/opentelemetry/resource/JenkinsResourceProvider.java#L33-L38 and https://github.com/jenkinsci/opentelemetry-plugin/blob/b355859fa093dc5da00a1639d5d11d0d84427b2f/src/main/j

[2021-05-05 09:18] #80 closed

[2021-05-05 09:18] #74 closed

[2021-05-05 10:06] cyrille-leclerc opened #90 "Capability to manually create spans"
# Problem description

I want to manually create spans in my pipeline, similar to manually creating spans when instrumenting applications with distributed tracing.

Example use cases

* Create a "grouping span" to group multiple atomic actions together.
    * Example: Get code from a complex Git repository incl fetching submodules
* Add events to the trace typically to add "logs"
   * Probably bet

[2021-05-05 10:18] cyrille-leclerc opened #91 "Capability to manually add attributes to spans"
# Problem description

I want to manually add attributes to spans in my pipeline, similar to manually adding attributes to spans when instrumenting applications with distributed tracing.

Example use cases

* Add informations on shell steps to indicate the purpose of the shell step (e.g. an `sh 'docker login -u $user -p $pass my.docker.registry'`)
    * ❓ How to add attributes to atomic built-in s

[2021-05-05 10:41] cyrille-leclerc opened #92 "Capability to add "logs" to spans"
# Problem Description

I want to manually add "events" / "logs" to my spans in my pipeline, similar to manually creating span events or log messages when instrumenting applications with distributed tracing.

Desire to enable more logs without modifying the pipeline.

Example use cases

* ...

Example with the OpenTelemetry APIs for Java

[code]
# See Other Problem Statements

* [Capability to manu

[2021-05-05 14:19] skundrik commented on #87
I'll try to double check the job type, not sure how easy it'll be since there doesn't seem to be much indication which one failed.

With regards to folder plugins we have a standard
[code]
but also have
[code]
which I guess creates special folders

[2021-05-05 14:33] skundrik commented on #88
What about having multiple options?

1. Manually specified, defaulting to "jenkins" as is now
2. Dynamic based on URL using something like grok to extract parts you want and combine them into service name

[2021-05-06 09:30] cyrille-leclerc commented on #87
Thanks. We will have to look at the existing log messages to see if we can better understand. Otherwise, we may have to update the code to capture exception details.

@skundrik do you agree with the idea that it seems to be a problem with the nature of the "pipeline full name"? A mismatch between the expectation of the Otel Plugin to use `AbstractItem.getFullName()` in a situation that would not b

[2021-05-06 10:47] cyrille-leclerc opened #95 "Need to monitor and troubleshoot problems to launch build agents"
# Problem Description

The launch of build agents can have problems, administrators need to be alerted on, to monitor, and to troubleshoot these problems.

Example of problems
* Problem with the configuration of dynamic agents (invalid credentials...)
* Outage of underlying cloud provisioning infrastructure (no more VMs available, quota reached...)

# Solutions

Probably related to `hudson.slaves.

[2021-05-06 16:32] v1v commented on #88
thanks @skundrik for the feedback.

 for 1) I've got something in place, see https://github.com/jenkinsci/opentelemetry-plugin/pull/97

 for the 2), would you mind if I ask you to elaborate a bit more how you foresee it?

Thanks

[2021-05-07 09:38] cyrille-leclerc commented on #49
@v1v @kuisathaverat can we say that we have dogfooded enough to say that scalability tests have been conducted successfully?

[2021-05-07 09:45] cyrille-leclerc commented on #87
FYI troubleshooting version in progress https://github.com/jenkinsci/opentelemetry-plugin/pull/99

[2021-05-07 11:07] cyrille-leclerc commented on #87
We have created a new release to capture more details on the StackOverflowError and identify the cause.

Can you please test with https://github.com/jenkinsci/opentelemetry-plugin/releases/tag/opentelemetry-0.10-beta and search in the logs for the following log messages:

[code]

or

[code]

[2021-05-07 13:29] kuisathaverat commented on #49
It is running in a production-grade environment, this environment runs a few thousand jobs daily, with no issues so far. It is true that we did not make any stress tests. I think we can wait a week and close this issue.

[2021-05-07 18:42] skundrik commented on #87
I will install and report findings.

[2021-05-10 11:52] skundrik commented on #87
I have installed `0.10-beta` and I have checked my logs but can't find the log message.

[2021-05-10 11:58] cyrille-leclerc commented on #87
@skundrik do you see problems like the stackoverflow either?

[2021-05-10 12:18] skundrik opened #105 "NPE in SimpleSpanProcessor"
### Version report

Jenkins versions report:

[code]

### Reproduction steps

- Installed opentelemetry plugin 0.9
- Observed the following in the logs

[code]
### Comments
Seems to me that the problem is caused by adding `null` value for sensitive parameters in here https://github.com/jenkinsci/opentelemetry-plugin/blob/9d1e17606121ce3f5269afc1340607fca0446883/src/main/java/io/jenkins/plugins/ope

[2021-05-10 12:29] skundrik commented on #87
Sorry for not making it clearer, I can still see the `StackOverflowError` although I think they seem to be different variations like
[code]
[code]
[code]

[2021-05-10 14:09] cyrille-leclerc commented on #87
@skundrik the StackOverflow errors on `Arrays.hashCode()` and `AbstractMap.toString()` let me think that the problem may not reside in `AbstractItem.getFullDisplayname()` but maybe in the params of your JVM. Did you change the JVM stack size (e.g. `-Xss`)?

[2021-05-10 14:38] #105 closed

[2021-05-10 14:46] cyrille-leclerc commented on #105
@skundrik can you please test https://github.com/jenkinsci/opentelemetry-plugin/releases/tag/opentelemetry-0.11-beta

[2021-05-10 18:02] skundrik commented on #87
This looks suspect to me
https://github.com/jenkinsci/opentelemetry-plugin/blob/48a6c76b3c160efcd1b0dbb22a9646fdd5130862/src/main/java/io/jenkins/plugins/opentelemetry/job/MonitoringRunListener.java#L241-L244

When `MonitoringRunListener.onDeleted` gets called it ends up in this parent abstract class implementation
https://github.com/jenkinsci/opentelemetry-plugin/blob/48a6c76b3c160efcd1b0dbb22a96

[2021-05-10 18:28] skundrik commented on #87
I think I managed to reproduce it by deleting an old build and added to the reproduction steps in the description.

[2021-05-10 22:29] cyrille-leclerc commented on #105
Thanks for the feedback, we will test with Elastic.
Can you please indicate if you integrate OpenTelemetry with Elastic using the historical OpenTelemetry Collector Exporter for Elastic or if you use the new OpenTelemetry Protocol intake on Elastic APM Server?

[2021-05-10 23:03] skundrik commented on #105
The latter, OpenTelemetry directly via APM Server.

[2021-05-11 09:16] cyrille-leclerc opened #109 "Pipeline parameters are not reported as span attributes by Elastic APM"
### Version report

Jenkins and plugins versions report:
* Jenkins opentelemetry-plugin 0.10-beta
* Elastic Observability 7.12.1

### Reproduction steps

* Create a parameterized pipeline and execute it
* Visualise the trace in Elastic APM, the fields `ci.pipeline.parameter.name`,  `ci.pipeline.parameter.sensitive`, and `ci.pipeline.parameter.value` are not reported by Elastic APM as span attribut

[2021-05-11 09:22] cyrille-leclerc commented on #105
Thanks Slavo, I have identified the problem and created
 * Jenkins OpenTelemetry plugin bug [Pipeline parameters are not reported as span attributes by Elastic APM #109](https://github.com/jenkinsci/opentelemetry-plugin/issues/109)
 * Elastic APLM Server bug [[OTLP] Multivalued span attributes are ignored #5250](https://github.com/elastic/apm-server/issues/5250)

[2021-05-17 18:11] #88 closed

[2021-05-17 18:18] v1v opened #112 "Dynamic service naming to support CI at Scale"
### Dependencies

NA

### Feature Request

This is related to the discussion done in https://github.com/jenkinsci/opentelemetry-plugin/issues/88

@skundrik proposed another way to configure the service name based on the Jenkins URL. Something like grok to extract parts you want and combine them into service name.

### Context

The current implementation is something that can now be configured with

[2021-05-20 08:57] cyrille-leclerc opened #113 "Jenkins admins need dashboards and alerts on the health of the Jenkins platform"
# Problem Description

Jenkins admins need dashboards and alerts to solve the following problems:
* Overall health indicators of the health of the Jenkins platform
* Detect build agent allocation problems
* Detect Jenkins controller responsiveness problems
   * Web UI responsiveness
* Detect File System usage problems, GC problems, CPU problems on Jenkins controller...
   * It's not exactly user f

[2021-05-21 07:39] cyrille-leclerc commented on #113
See https://github.com/jenkinsci/opentelemetry-plugin/pull/114

[2021-05-21 12:16] v1v commented on #95
I've been testing it out the `CloudProvisioningListener` interface with the Google Compute Engine plugin.

What have I seen so far?

- Google Compute Engine with `oneShot` configuration produces some stacktrace warnings

[code]

Even though the agent was created when the build requested an agent and removed afterwards.

Pipeline:

[code]

<img width="1099" alt="Screenshot 2021-05-21 at 12 55 49" s

[2021-05-21 12:22] skundrik commented on #113
@cyrille-leclerc I was intrigued by this so I went to try it out but looks like dashboards are saved for Kibana 7.13 which hasn't been released yet so they fail to import. ☹️

[2021-05-21 12:29] cyrille-leclerc commented on #113
Sorry to hear this @skundrik , I guess that the cause of this glitch saving as 7.13 is that we are often working with 7.13-SNAPSHOT to get coming improvements on the OTLP support.
@v1v do you think we could make these dashboards compatible with 7.12?  ref https://github.com/jenkinsci/opentelemetry-plugin/pull/114

[2021-05-23 08:16] v1v commented on #113
😞 , I didn't even realise I was using the latest candidate snapshot, in fact I though they were version independent, there is nothing specific for that particular version.

I'll raise a new PR with the support for the latest release version

[2021-05-23 08:39] v1v commented on #113
https://github.com/jenkinsci/opentelemetry-plugin/pull/116 is the now the one with support for 7.12

[2021-05-24 16:26] cyrille-leclerc opened #120 "All metrics reported in Prometheus lack of contextual attributes (`host.name`, `service.name`...)"
### Plugin report

* Jenkins OpenTelemetry plugin version: 0.13
* OpenTelemetry Java SDK version: 1.2.0

### Problem Description

All metrics reported by the Jenkins OpenTelemetry plugin lack of contextual attributes when ingested by Prometheus.
The cause is that the OpenTelemetry -> Prometheus integration ignores the [OpenTelemetry Resource](https://github.com/open-telemetry/opentelemetry-specifi

[2021-05-25 21:32] cyrille-leclerc commented on #109
Being fixed by https://github.com/elastic/apm-server/pull/5286

[2021-06-02 08:52] cyrille-leclerc commented on #120
The problem is that we add resource correlation attributes (hostname...) as OpenTelemetry `Resource` to the metric provider rather than adding them as OpenTelemetry metric `Label`.

* [SdkMeterProviderBuilder.setResource(resource)](https://javadoc.io/doc/io.opentelemetry/opentelemetry-sdk-metrics/latest/io/opentelemetry/sdk/metrics/SdkMeterProviderBuilder.html)
* [LongCounter.bind(labels)](https:/

[2021-06-08 08:45] cyrille-leclerc commented on #120
When using the option `resource_to_telemetry_conversion` /  `enabled: true` of the O[penTelemetry Collector exporter for Prometheus](https://github.com/open-telemetry/opentelemetry-collector/tree/main/exporter/prometheusexporter), we get the attributes.

❓  **Question: are there too many attributes converted into labels? Does it damage the readability?**

Sample:

[code]

<details>
<summary>All Je

[2021-06-09 13:50] #49 closed

[2021-06-14 11:30] cyrille-leclerc opened #127 "Division by zero exception when no swap memory allocated"
### Version report

Jenkins and plugins versions report: jenkins-opentelemetry-plugin 0.13

Division by zero when zero swap memory is allocated to the JVM

[code]
23.117 [id=121]	WARNING	i.o.s.m.e.IntervalMetricReader$Exporter#doRun: Exporter threw an Exception
java.lang.ArithmeticException: Division undefined
	at java.math.BigDecimal.divide(BigDecimal.java:1744)
	at io.jenkins.plugins.opentelemet

[2021-06-14 11:57] #127 closed

[2021-06-15 22:21] #120 closed

[2021-06-16 16:41] traviswalker26 opened #129 "Intermittent java.util.ConcurrentModificationException"
### Version report

Jenkins and plugins versions report:

[code]

- What Operating System are you using (both controller, and any agents involved in the problem)?

[code]

### Results

Actual result:

[code]

[2021-06-18 09:43] #129 closed

[2021-06-18 10:06] cyrille-leclerc commented on #129
Can you please test with https://github.com/jenkinsci/opentelemetry-plugin/releases/tag/opentelemetry-0.15 and share feedback, the problem should be fixed.

[2021-06-18 12:06] traviswalker26 commented on #129
Thank you so much for the quick fix. I will let you know if it comes up again.

[2021-06-22 08:31] v1v opened #132 "jenkins.* metrics are always 0"
### Version report

Jenkins and plugins versions report:

2.189.1 with latest master build.

- What Operating System are you using (both controller, and any agents involved in the problem)?

[code]

### Reproduction steps

- Create some agents
- Search for any metrics `jenkins.agents.online > 0`

### Results

Expected result:

There will be some metrics when a new agent is connected

Actual result

[2021-06-22 09:09] v1v commented on #132
After debugging it looks like https://github.com/jenkinsci/opentelemetry-plugin/pull/119 is somehow causing that particular behaviour with some of the metrics

[2021-06-22 12:42] v1v opened #133 "Plugin label metadata in the attributes for some spans is not correct"
### Version report

LTS 2.289.1

Latest plugin version

### Reproduction steps

Metadata for the plugin step is not correct for the `googleStorageUpload` step

![image](https://user-images.githubusercontent.com/2871786/122925902-32a59b80-d35f-11eb-868d-6694a1b86935.png)

While debugging the descriptor, it seems the descriptorId is coming from `CoreSteps`

![image](https://user-images.githubusercon

[2021-06-22 15:41] #132 closed

[2021-06-22 16:28] v1v commented on #95
I've just asked in the [jenkins-dev-mailing-list](https://groups.google.com/g/jenkinsci-dev/c/ULfasawSRLU)

[2021-06-23 15:50] v1v commented on #95
The issue with the `oneShot` provisioning seems to be fixed with the Jenkins core version in our test instance: `2.189.1`.

![image](https://user-images.githubusercontent.com/2871786/123128120-c8febd80-d442-11eb-957b-6227926ec700.png)

[2021-06-23 16:03] v1v commented on #95
Metrics are now available in the plugin, so I'd like now to move forward with the comment in https://github.com/jenkinsci/opentelemetry-plugin/pull/101#issuecomment-835869326 and tracking the provisioning of the cloud agents using a distributed trace.

Should both traces the one we are tracking so far, linked to the ci build, linked with the one for the cloud agents? I'm not sure whether it's poss

[2021-06-23 20:37] v1v commented on #133
As far as I see this is caused when the step implements https://javadoc.jenkins.io/jenkins/tasks/SimpleBuildStep.html (most likely an old traditional support for the existing 1.x non-pipeline versions)

[2021-06-25 10:31] #133 closed

[2021-06-28 13:23] v1v commented on #109
It works in 7.13.1

![image](https://user-images.githubusercontent.com/2871786/123643437-4730da80-d81c-11eb-9f5c-5f441d6423a3.png)

Pipeline -> https://beats-ci.elastic.co/job/e2e-tests/job/e2e-testing-mbp/job/master/1054/parameters/

[2021-06-28 13:23] #109 closed

[2021-07-06 19:03] BerndFarkaDyna opened #141 "Wrong RootSpan Name and valie of ci.pipeline.id for PR Builds on Multibranch Pipelines"
### Version report
Jenkins: 2.299
OS: Linux - 5.4.0-62-generic
---
pmd:4.0.1-SNAPSHOT (private-8ae81512-jenkins)
analysis-core:1.97-SNAPSHOT (private-07ea7c8e-jenkins)
pipeline-github-lib:1.0
checkstyle:4.0.1-SNAPSHOT (private-46d69902-jenkins)
xunit:3.0.2
ssh-slaves:1.32.0
bitbucket:1.1.29
basic-branch-build-strategies:1.3.2
groovy:2.4
matrix-auth:2.6.7
ansicolor:1.0.0
kubernetes:1.30.0
configura

[2021-07-08 19:20] v1v commented on #141
Hi @BerndFarkaDyna, thanks for raising this.

That's intended and the convention we have added. The original implementation was done in https://github.com/jenkinsci/opentelemetry-plugin/pull/47

Cheers

[2021-07-08 21:29] v1v commented on #141
I've been thinking about this, I see the benefits in reducing the cardinality, but I'd like to ask your needs for using `Path/to/Build/job/PR-123/1`?

@cyrille-leclerc, what do think about giving the flexibility in the JCasC configuration to opt-in for changing the convention to a high cardinality in the PRs on Multibranch Pipelines?

[2021-07-09 12:18] cyrille-leclerc commented on #141
Thanks @BerndFarkaDyna for your feedback.

The value of `ci.pipeline.id` being `path/to/Build/pr-{number}` rather than `path/to/Build/job/PR-123/1` looks definitively like a bug.

On the other hand, as @v1v said, we decided to pick a quite generic root span name like `my-war/PR-{number}` to have a low cardinality span name.

The pattern `my-war/PR-{number}` is the solution we picked to comply with

[2021-07-09 20:17] skundrik opened #144 "Add support for detecting Maven build type"
### Feature Request

Looks like the usual suspects like freestyle, pipeline and multi-branch are are correctly detected in the pipeline type but a still fairly common Maven one is missing.

Looks like all that's missing is a bit of code in the **OtelUtils** class to detect the run type as **hudson.maven.AbstractMavenBuild** similar to what is already done for **freestyle** build.

[2021-07-12 05:23] BerndFarkaDyna commented on #141
@cyrille-leclerc:

THX, this fix would help a lot.

About the cardinality on the root span name: Of course I understand you explanation and it makes sense to me, but for me it seems inconsistent since branch-builds of the same project do not have such an handling. IMHO that is a bit strange and i would even vote for having the behavior between Branch and PR builds the same since (AFIAK) there is n

[2021-07-12 08:54] cyrille-leclerc commented on #141
You are right that there is a lack of consistency having different "root span name strategies" for the branch builds and the PR builds.
I think my questionable assumption was that the branch name was low cardinality because branches where long lived when the PR where short lived and thus high cardinality.
In fact, my rationale doesn't work when developer create feature/bug branches on the main rep

[2021-07-12 08:56] cyrille-leclerc commented on #141
@BerndFarkaDyna can you please explain us how you this naming is impacting you? is it related to the visualization of the list of traces grouped by their "root name"?

[2021-07-12 09:07] BerndFarkaDyna commented on #141
@cyrille-leclerc : we are doing our own processing of spans so there the name PR-{number} simply was misleading, plus i had no other chance since, as mentioned above, `ci.pipeline.id` also has the wrong value.

AFAIK: a very simple suggest to have consistency reporting:
* if 'ci.pipeline.id' is correct
* why not use the name of the job as span name? so you can get rid of the whole cardinality and

[2021-07-12 11:30] kuisathaverat commented on #141
The pattern of the change request names depends on the SCM service, Github, Gerrit, or GitLab do not use the same pattern. So due to each SCM has its own rules to manage the change request names, I think that the best value for the `ci.pipeline.id` should be the name of the job `path/to/Build/job/PR-123`, in this way all builds of the same job are identified by the same `ci.pipeline.id` and we can

[2021-07-15 12:04] cyrille-leclerc commented on #141
I'm convinced by @BerndFarkaDyna 's proposal to use the Pull Request / Change Request pipeline name. IDeally with a configuration entry to specify the naming strategy but we can start hardcoding this new strategy as a replacement to the strategy I initially implemented.

I may not have the time to propose a PR before my PTO and I'll be back on Aug 16th.

The code to change  is:

https://github.com

[2021-07-15 12:05] BerndFarkaDyna commented on #141
@cyrille-leclerc : if you don't mind volunteer for creating this PR...

[2021-07-15 12:11] cyrille-leclerc commented on #141
with pleasure @BerndFarkaDyna , the more contributors we have, the better :-)

[2021-07-15 12:16] BerndFarkaDyna commented on #141
Just to sum it up what the pr should include:

* changing the name of the span to the pipeline name.
* shouldn't be this done for branches to? (cardinality reduction?)
* fix the attribute 'ci.pipeline.id' to contain the jobFullName.

[2021-07-15 12:33] cyrille-leclerc commented on #141
I would continue to have one root span name per branch, I feel it's aligned with the idea to have one root span name per change-request / pull-request. I feel the change you propose will better align with the existing naming strategy for branches.

Yes. From what I remember, it should be implicitly fixed changing the logic of the method `SpanNamingStrategy#getChangeRequestRootSpanName()`.

Note th

[2021-07-16 07:30] #144 closed

[2021-07-16 09:38] cyrille-leclerc commented on #144
Please test new plugin version https://github.com/jenkinsci/opentelemetry-plugin/releases/tag/opentelemetry-0.17

[2021-07-19 12:56] skundrik commented on #144
Seems to be working fine so far and my unknown jobs are now being marked with maven

[2021-07-31 04:48] dcrowe commented on #82
For those who come along later, here's the otel-collector config that worked for me:
[code]

And here's a working Trace visualisation URL template:
`https://ui.honeycomb.io/max-mine-iot/datasets/jenkins-builds/trace?trace_id=${traceId}&trace_start_ts=${startTime.epochSecond-60}`

[2021-08-24 01:06] aidansteele opened #156 "Standardising env vars `TRACEPARENT` and `TRACESTATE` in OTel specification"
I was [told about this project](https://twitter.com/iamvlaaaaaaad/status/1429691926182256642) yesterday and I am very excited by the work you are doing.

Have you considered "upstreaming" your usage of `TRACEPARENT` and `TRACESTATE` environment variables to the OpenTelemetry specification? I feel that it would be a valuable addition to the spec. There was an issue opened about a year ago regarding

[2021-08-24 07:45] cyrille-leclerc commented on #156
You are right @aidansteele that we have enough maturity to propagate the trace context between CI platforms and build tools using `TRACEPARENT` and `TRACESTATE` to propose a standardisation.

[2021-08-25 00:27] dcrowe opened #157 "Uncaught UnknownHostException causes remote agent to fail to start"
### Version report

Jenkins and plugins versions report:

[code]

- What Operating System are you using (both controller, and any agents involved in the problem)?

[code]

### Reproduction steps

- Using an SSH server configured using balena.io
- Attempt to start a remote jenkins agent using "Launch agent agents via SSH"
- Remote agent fails to start

### Results

Expected result:

Agent starts

A

[2021-09-02 16:04] kuisathaverat opened #159 "Visualise provisioned Agents cost"
### Dependencies

### Feature Request

As a user, I want a way to visualize the cost of Agents provisioned:
* By type (Cloud, SSH, JNLP, ...)
* By Cloud provider
* By Cloud VM type
* By job
* By job+build

[2021-09-03 16:02] v1v opened #160 "OTEL_EXPORTER_OTLP_TIMEOUT contains `ms`"
### Version report

Jenkins and plugins versions report:

Latest release 0.19 with the latest jenkins LTS 2.289.2

- What Operating System are you using (both controller, and any agents involved in the problem)?

Docker

### Reproduction steps

Start your jenkins instance with the latest plugin version:

[code]

### Results

Expected result:

No failures

Actual result:

![image](https://user-imag

[2021-09-03 16:18] v1v commented on #160
As far as I see:

in https://github.com/open-telemetry/opentelemetry-java/blob/main/sdk-extensions/autoconfigure/README.md

[2021-09-07 19:25] #160 closed

[2021-10-01 09:21] cyrille-leclerc opened #173 "Support defining attributes at the job levels that are added to spans"
### Feature Request

We want pipeline author to be able to specify in their pipeline definition some attributes/properties that are added to all the spans of the pipeline execution.

Will be particularly interesting when producing reports from metrics derived from pipeline executions.

E.g. define in labels the "team name", "business unit name"

### Specification

* Job level attributes will be ad

[2021-10-29 08:00] bulanovk opened #197 "StackOverflowError in `OtelTraceService.buildListOfAncestors()`"
Open Telemetry plugin should stop collect and generate span in case when no Open Telemetry endpoint are configured,

[code]

### Version report
Jenkins 2.317
Plugin 0.19

### Reproduction steps

1. Install plugin
2. Restart Jenkins
ER:
 Span generation are completely turned off
AR:
OtelTraceService service generates Spans

[2021-11-01 16:00] v1v opened #199 "If no entrypoint correctly configured and export configuration variables then build errors"
### Version report

Jenkins and plugins versions report:

[code]

- What Operating System are you using (both controller, and any agents involved in the problem)?

Docker

### Reproduction steps

- Configure empty GRPC entrypoint
- Export environment variables

![image](https://user-images.githubusercontent.com/2871786/139701766-dbf8778c-7d0c-4b91-84af-d1ed9d51e7be.png)

### Results

Expected resu

[2021-11-01 21:59] cyrille-leclerc commented on #199
Fixed as part of https://github.com/jenkinsci/opentelemetry-plugin/commit/5b338e03f5807bc6ebfe1666c9e1b612074e61b2

See change https://github.com/jenkinsci/opentelemetry-plugin/commit/5b338e03f5807bc6ebfe1666c9e1b612074e61b2#diff-b0e9e577a64df2922e425a741ce7a1fad4c646154a240bf0e219bbc11df757ffR57

[2021-11-01 22:04] cyrille-leclerc commented on #197
Thanks @bulanovk .
The spans you see should be noon spans, is this OK for you, can you please describe the problem caused by these spans?

See https://github.com/jenkinsci/opentelemetry-plugin/blob/opentelemetry-0.19/src/main/java/io/jenkins/plugins/opentelemetry/OpenTelemetrySdkProvider.java#L218

[2021-11-02 06:34] bulanovk commented on #197
Hello @cyrille-leclerc the main problem that i'm have big pipeline and got the folowing exception
`
[Pipeline] End of Pipeline
java.lang.StackOverflowError
	at io.jenkins.plugins.opentelemetry.job.OtelTraceService.buildListOfAncestors(OtelTraceService.java:128)
	at io.jenkins.plugins.opentelemetry.job.OtelTraceService.buildListOfAncestors(OtelTraceService.java:129)
	at io.jenkins.plugins.opentelem

[2021-11-02 09:17] cyrille-leclerc commented on #197
I'm sorry to see this bug @bulanovk .

There is an unexpected behavior of the Jenkins API `org.jenkinsci.plugins.workflow.graph.FlowNode#getParents()` causing an infinite loop.
Can you please indicate the type of pipeline job and the types of steps that are used in this context of StackOverflowError?

I'm preparing a patch, could you by any chance test it? The code to test is
https://github.com/je

[2021-11-02 10:29] bulanovk commented on #197
You could just create a simple Scripted pipeline with the following code to reproduce issue.
`
node {
  for (int i=0;i<10000000000;i++)
  {
      echo "1"
  }
}
`

[2021-11-02 10:59] cyrille-leclerc commented on #197
Thanks I'll test asap.

[2021-11-02 12:13] cyrille-leclerc commented on #197
@bulanovk can you please test https://github.com/jenkinsci/opentelemetry-plugin/releases/tag/opentelemetry-0.22-beta-1 ?
I cannot reproduce the problem with the for loop you provided on Jenkins 2.303.2 (latest LTS).

[2021-11-02 12:16] cyrille-leclerc opened #201 "NullPointerException in CloudBees Disk Usage Plugin"
### Version report

Jenkins and plugins versions report: 2.303.2 (LTS)

[code]

- MacOS

### Reproduction steps

Could it be caused by https://github.com/jenkinsci/opentelemetry-plugin/commit/a933e05145b4b6889c4f1c6e9d9695a4ad187a08 that is part of https://github.com/jenkinsci/opentelemetry-plugin/pull/185 ?

### Results

Expected result:

Actual result:

[2021-11-02 13:56] bulanovk commented on #197
Still failing with job
[code]
[code]

OTEL endpoint not specified.

[2021-11-02 15:16] cyrille-leclerc commented on #197
Thanks @bulanovk that's strange,
Do you see something special in the Jenkins logs?

[2021-11-02 15:33] bulanovk commented on #197
@cyrille-leclerc you change the test. executing echo  or any other pipeline closure cause exception.

logs contains only this warning
[code]

[2021-11-02 16:47] cyrille-leclerc commented on #197
@bulanovk

I couldn't reproduce with a clean 2.317 Jenkins
* Install a Jenkins 2.317 form scratch with default plugins and OpenJDK11 on Mac
* install Jenkins Otel 0.22-beta-1
* Create
[code]
* Run for more than 30 mins, reached i>4300
* Tested with both `sh "echo '$i'"` and `echo "i"`

I didn't get any StackOverflowError and the spans are well displayed.

Could you please verify that you can repro

[2021-11-02 20:20] cyrille-leclerc opened #202 "ClassNotFoundException during instantiation of `io.jenkins.plugins.opentelemetry.computer.DiskUsageMonitoringInitializer`"
### Version report

Jenkins and plugins versions report:

 * Jenkins 2.317
 * opentelemetry-plugin 0.22-beta-1

### Reproduction steps

* Start Jenkins with opentelemetry-plugin 0.22-beta-1 but without CloudBees Simple Disk Usage plugin.

[code]

[2021-11-03 10:33] bulanovk commented on #197
For pipeline
[code]
[code]

For pipeline
[code]
[code]
Windows, OpenJDK 11.0.12+7, Jenkins 2.317/318

[2021-11-03 21:33] #199 closed

[2021-11-04 08:18] cyrille-leclerc commented on #202
Won't fix, only happens when installing the Otel Jenkins Plugin during the Jenkins first run when choosing to install the default plugins.

[2021-11-04 08:18] #202 closed

[2021-11-04 08:18] cyrille-leclerc commented on #201
Fixed in v0.22-beta-2

[2021-11-04 08:18] #201 closed

[2021-11-04 08:29] cyrille-leclerc commented on #197
@bulanovk thanks, so the `StackOverflowError` happens after 9,500 iterations on your environment when I go way beyond 5,000,000 iterations without problems and interrupt for timing reasons on my environment with the OS being the primary difference.
I still don't understand why the code goes in this loop on your environment. I need to add troubleshooting debug messages.

[2021-11-04 15:44] dotstone opened #204 "Add attributes for build trigger step"
It would be cool to get additional span attributes of the build trigger step. It's defined in the pipeline-build-step-plugin: https://github.com/jenkinsci/pipeline-build-step-plugin/blob/master/src/main/java/org/jenkinsci/plugins/workflow/support/steps/build/BuildTriggerStep.java

Especially interesting would be the fields that describe the triggered job/build:
* job
* parameters
* some informatio

[2021-11-07 17:38] v1v commented on #204
Hi @dotstone,

Thanks for reaching out. There is a discussion regarding context propagation between parentstream and downstream jobs in https://github.com/jenkinsci/opentelemetry-plugin/discussions/98

Though, those attributes that you mention can be in any case collected and added to the `build` step span. It should be feasible similar to what we have done for the `git` and `sh`/`bat` steps

Is t

[2021-11-08 13:22] cyrille-leclerc commented on #204
Implementation in progress with
- https://github.com/jenkinsci/opentelemetry-plugin/pull/208

@dotstone

It will be the attribute `ci.pipeline.name=${triggeredJob.name}` on the span `Build: ${triggeredJob.name}`

It will be visible on the downstream span that will be the root span of the triggered job, will it be enough

We are adding on the job root span the multivalued attribute `ci.pipeline.run

[2021-11-08 13:23] cyrille-leclerc commented on #197
@bulanovk could you by any chance test on Linux?

[2021-11-10 11:37] bulanovk commented on #197
@cyrille-leclerc  i have a chance to test it on linux today:
[code]

[2021-11-11 13:44] dotstone commented on #204
Hi @cyrille-leclerc,
thank you for your answer and the link to the discussion - I wasn't aware that this is already being discussed.

Yes, that sounds great. I think that covers all of my use cases. Thanks a lot for all the effort! 💯

[2021-11-12 18:11] cyrille-leclerc commented on #204
Code merged

[2021-11-15 11:29] cyrille-leclerc commented on #197
@bulanovk can you deploy the 0.22-beta-3 and enable logging details?

* 0.22-beta-3: https://github.com/jenkinsci/opentelemetry-plugin/releases/tag/opentelemetry-0.22-beta-3
* Create a Jenkins logger setting `io.jenkins.plugins.opentelemetry.job.OtelTraceService` to `FINEST`  (❗ it's very verbose)
* Search in the created logs for something like
[code]

[2021-11-15 12:31] cyrille-leclerc commented on #204
Please test https://github.com/jenkinsci/opentelemetry-plugin/releases/tag/opentelemetry-0.22-beta-3

[2021-11-15 18:43] bulanovk commented on #197
with new version
[code]
last log
[code]

[2021-11-16 09:36] cyrille-leclerc commented on #197
Thanks @bulanovk , I understand better the problem, I'm thought that the parent of the "echo step" was the "node" step but in fact it's the preceding step which happens to be the preceding step which happens to be the preceding "echo step".

I'm investigating.

[code]

[2021-11-16 11:05] cyrille-leclerc commented on #197
Fix in progress https://github.com/jenkinsci/opentelemetry-plugin/pull/222

[2021-11-16 12:50] cyrille-leclerc commented on #197
@bulanovk can you please test https://github.com/jenkinsci/opentelemetry-plugin/releases/tag/opentelemetry-0.22-beta-4

[2021-11-16 15:28] cyrille-leclerc commented on #56
Change milestone from v1.0 to later as we don't want to block 1.0 for this standardisation task that will take time aligning with other CI/CD platforms.

[2021-11-16 15:30] cyrille-leclerc commented on #86
Solved supporting the `OTEL_RESOURCE_ATTRIBUTES` environment variable and the `-Dotel.resource.attributes` jvm property

[2021-11-16 15:34] cyrille-leclerc commented on #82
Solved in 0.22 supporting the `OTEL_EXPORTER_OTLP_HEADERS` environment variable and the `-Dotel.exporter.otlp.headers` jvm property

[2021-11-16 16:45] bulanovk commented on #197
@cyrille-leclerc it works. Job compete without errors.

[2021-11-16 17:04] cyrille-leclerc commented on #197
Thanks for the great news!

[2021-11-18 19:23] v1v opened #224 "Support to enrich the trace attributes with the culprits"
### Dependencies

Use https://javadoc.jenkins-ci.org/hudson/model/AbstractBuild.html#getCulprits-- and https://javadoc.jenkins.io/plugin/workflow-job/org/jenkinsci/plugins/workflow/job/WorkflowRun.html#getCulprits--

### Feature Request

According to the Jenkins documentation, the `getCulprits` method:

This list at least always include people who made changes in this build, but if the previous bu

[2021-11-22 16:30] ipleten commented on #90
It  also might be beneficial to  get id of span  and of traceID to  enrich  trace with data from other tools.
Like we have deployment tool  being triggered within pipeline which we can update to send spans to current trace therefore we could track deployment status linked to pipeline.

[2021-11-23 22:19] #197 closed

[2021-11-23 22:19] #204 closed

[2021-11-25 15:15] cyrille-leclerc commented on #197
@bulanovk can you please bump to v1.0.0 that we just released and confirm your problems are fixed?

* https://github.com/jenkinsci/opentelemetry-plugin/releases/tag/opentelemetry-1.0.0

[2021-11-25 15:16] cyrille-leclerc commented on #204
@dotstone can you please bump to v1.0.0 and confirm your problem is solved?

* https://github.com/jenkinsci/opentelemetry-plugin/releases/tag/opentelemetry-1.0.0

[2021-11-25 15:31] dotstone commented on #204
Thank you. Are you going to update the plugin on plugins.jenkins.io as well? That would make it easier to test for me. Otherwise I can check until the beginning of next week.

[2021-11-25 15:45] cyrille-leclerc commented on #204
Thanks @dotstone, the upload of v1.0.0 failed, I have to retry and check.
https://repo.jenkins-ci.org/public/io/jenkins/plugins/opentelemetry/

[2021-11-25 15:51] cyrille-leclerc commented on #204
Plugin uploaded manually doing a `mvn deploy` on the source code tag. It's not yet visible in the Jenkins Update Center, I hope it will appear soon.

ref https://repo.jenkins-ci.org/releases/io/jenkins/plugins/opentelemetry/1.0.0/

[2021-11-25 16:12] cyrille-leclerc commented on #204
Version 1.0.0 of the Jenkins Otel Plugin is now available in the Jenkins update center. I tested with a Jenkins LTS  (version  2.303.3)

[2021-11-26 13:29] dotstone commented on #204
Thanks, I wasn't able to test it with 1.0.0 yet since our jenkins runs into a configuration problem after upgrading - we need to do more investigation on that. I checked with 0.22-beta4 though and the results look very good. The spans are linked and the parameters are visible in the linked span. I also have the information to identify the triggered build (by the URL).
My use cases are covered, tha

[2021-11-29 14:11] cyrille-leclerc opened #230 "Jenkins Otel Plugin fails to start `IncompatibleClassChangeError: Method 'io.opentelemetry.sdk.metrics.SdkMeterProviderBuilder...' must be InterfaceMethodref constant`"
### Version report

Jenkins 2.303.3
OpenTelemetry Plugin 1.0.0

### Startup logs

[code]

[2021-11-29 14:24] cyrille-leclerc commented on #230
The release is broken, the opentelemetry +1.0.0 HPI contains both otel 1.7.1 and 1.9.0 jars

[code]

[2021-11-29 14:44] cyrille-leclerc commented on #204
Please wait, the 1.0.0 build is broken due to a dirty build environment trying to do the `mvn deploy`  https://github.com/jenkinsci/opentelemetry-plugin/issues/230

I'm cutting a 1.0.1

[2021-11-29 15:30] cyrille-leclerc commented on #230
Fixed by https://github.com/jenkinsci/opentelemetry-plugin/releases/tag/opentelemetry-1.0.1

[2021-11-29 15:32] cyrille-leclerc commented on #204
Please check v1.0.1 rather than 1.0.0
https://github.com/jenkinsci/opentelemetry-plugin/releases/tag/opentelemetry-1.0.1

[2021-11-30 11:18] bulanovk commented on #197
@cyrille-leclerc Thank you for a fix. It solve the problem

[2021-11-30 12:24] cyrille-leclerc commented on #197
@bulanovk thanks!

[2021-11-30 17:01] ipleten opened #235 "Clarify "logging" exporter?"
Hello,
Documentation says plugin support: " The Jenkins OpenTelemetry plugin supports the following exporters: OTLP, Jaeger, Prometheus, and Logging."
I wonder if "Logging" refers to Jenkins logs or to OTLP plugin itself?

It would be great to send logs from pipelines/master to OTLP via loki if possible
I also saw some screenshots have "Logs" tab but my setup doesn't have it.

[2021-12-01 13:31] cyrille-leclerc commented on #235
Good catch, "logging" is misleading, it's the "export to files/system.out for debug purpose".
It's not yet send build logs via Otel. @kuisathaverat is looking at sending build logs via Otel, we bumped to Otel SDK 1.9.0 aggressively for this purpose.

[2021-12-01 13:36] cyrille-leclerc commented on #235
@ipleten  can you please verify the clarification of documentation https://github.com/jenkinsci/opentelemetry-plugin/pull/236

[2021-12-01 21:10] ipleten commented on #235
Thank you!

[2021-12-01 21:10] #235 closed

[2021-12-02 08:52] kuisathaverat commented on #235
if you want to experiment with the feature I have a PoC plugin that [sends logs using openTelemetry 1.2 (alpha)](https://github.com/kuisathaverat/pipeline-filebeat-logs), we plan to integrate it in the openTelemetry plugin.

[2021-12-02 13:42] dotstone commented on #204
Verified also with 1.0.1 - thank you!

[2021-12-02 21:49] ipleten commented on #235
While I would be really glad to have logs sent via openTelemetry I'm not sure if replacing default to  logging mechanism is acceptable for now.

We are keeping logs for auditing and backup purposes for at least 1year. While it's relatively cheap to store them on s3 bucket or some other storage it might be an overkill to keep them in Elastic for such period of time. OTOH we could export them from e

[2021-12-06 09:52] cyrille-leclerc commented on #235
Thanks for the feedback Iaroslav,

I would recommend you to look at the recently added [Elastic Frozen Tier](https://www.elastic.co/guide/en/elasticsearch/reference/current/data-tiers.html#frozen-tier) (see [Blog: Directly search S3 with the new frozen tier](https://www.elastic.co/blog/introducing-elasticsearch-frozen-tier-searchbox-on-s3).

At Elastic, we want to start experimenting ASAP to build

[2021-12-06 16:37] cyrille-leclerc opened #238 "Need a link from Jenkins to the monitoring dashboards"
### Feature Request

The Jenkins OpenTelemtry plugin collects metrics of the key performance indicators of the Jenkins platform. I want from the Jenkins GUI a link to the Jenkins Monitoring dashboard provided by my Jenkins OpenTelemetry integration.

![image](https://user-images.githubusercontent.com/459691/144885438-6365538f-03ef-43f7-8268-fa6e9c194a03.png)

[2021-12-07 09:48] cyrille-leclerc opened #242 "Elastic Kibana dashboard should be parameterized by `service.name`"
### Feature Request

Elastic Kibana dashboard should be parameterized by `service.name` so I can narrow down my visualization to the Jenkins controller that matters to me.

This capability should be integrated with:
- https://github.com/jenkinsci/opentelemetry-plugin/issues/238

[2021-12-07 10:00] cyrille-leclerc opened #243 "Elastic Kibana dashboard should have a predictable URL"
### Feature Request

The Elastic Kibana dashboard should have a predictable URL for easier setup with:
- https://github.com/jenkinsci/opentelemetry-plugin/issues/238

https://github.com/jenkinsci/opentelemetry-plugin/blob/opentelemetry-1.0.1/docs/dashboards/elastic/cicd_overview_dashboard.ndjson

[2021-12-07 21:55] cyrille-leclerc opened #245 "Collect pipelines and build logs"
### Dependencies

* OpenTelemetry Java SDK support for logs

### Feature Request

Collect Jenkins pipeline and job executions to store them in an OpenTelemetry backend.

Existing Jenkins capabilities to collect pipeline and job execution logs seem to not support to store logs both in the Jenkins internal logs storage and in the external storage but it's not a requirement of this feature to do so.

[2021-12-07 21:58] cyrille-leclerc commented on #16
Won't fix, it's not a major pain point

[2021-12-07 21:58] #16 closed

[2021-12-09 13:40] cyrille-leclerc opened #246 "Warning on Kibana dashboard import"
### Version report

Kibana 7.16

### Reproduction steps

* Import https://github.com/jenkinsci/opentelemetry-plugin/blob/opentelemetry-1.0.1/docs/dashboards/elastic/cicd_overview_dashboard.ndjson in Kibana
* Verify the created index pattern "apm-*", the following warning message is displayed:

### Results

Expected result:

Index pattern in an healthy shape

### Actual result:

[code]
![image](htt

[2021-12-09 13:44] cyrille-leclerc commented on #246
We should probably use the index pattern `apm-*-metric*` rather than `apm-*` in order to not catch
`apm-*-transaction*` and `apm-*-span*`, `apm-*-error*`, `apm-*-profile*`, and `apm-*-onboarding*`

[2021-12-09 13:57] dkluba opened #247 "Support for OTLP/HTTP"
### Dependencies

### Feature Request

Is there planned support for exporting using OTLP/HTTP aside of OTLP/gRPC? Or is there any blocker for that?

[2021-12-09 16:57] cyrille-leclerc commented on #243
Fixed by
- https://github.com/jenkinsci/opentelemetry-plugin/pull/248

[2021-12-09 17:03] cyrille-leclerc commented on #247
Thanks @dkluba for reaching out.
No blocker, it's just that we thought OTLP GRPC was good enough. We probably have to add the OTLP HTTP exporter jar and extend the GUI.

Could you please share with us why you prefer OTLP HTTP rather than OTLP GRPC?

[2021-12-10 10:15] v1v commented on #242
First attempt:
- https://github.com/jenkinsci/opentelemetry-plugin/pull/251

[2021-12-10 22:07] cyrille-leclerc commented on #246
I didn't succeed fixing the problem creating the index pattern `apm-*-metric*`.

[2021-12-16 12:08] cyrille-leclerc opened #255 "Agent span name can become high cardinality because the agent label can be high cardinality"
### Version report

Jenkins and plugins versions report: otel plugin 1.0

### Reproduction steps

Some agent span name have high cardinalities looking like "Agent: linux && immutable && extra/e9c14ec6-750b-474a-a4b8-c199565961c5"

It's caused by the fact that we build `agentSpanName = "Agent: " + pipeline.node.label` and the requested label can be high cardinality

https://github.com/jenkinsci/ope

[2021-12-16 12:36] cyrille-leclerc opened #256 "Job span name can be high cardinality due to high cardinality job names when created by the JobDSL"
Job span name can be high cardinality due to high cardinality job names

### Version report

Jenkins and plugins versions report:

Otel Plugin 1.0

### Reproduction steps

Use the Job DSL to create a high cardinality number of jobs

[2021-12-16 12:45] cyrille-leclerc opened #257 "Matrix project creates high cardinality job names generating the job names of its downstream jobs"
### Version report

otel plugin v1.0

### Reproduction steps

Example job generated by a Matrix Project job: "packer-builder-windows/BUILDER=abc,BUILD_OS_GCP=windows-11,label=linux && immutable && docker"

[2021-12-16 12:57] cyrille-leclerc opened #258 "The Jenkins Otel Plugin Version is missing from the resource attributes"
### Version report

Jenkins plugin 1.0

### Reproduction steps

![image](https://user-images.githubusercontent.com/459691/146376154-82c5081d-2c0c-42f5-a7f7-677fbc4ba796.png)

[2021-12-17 12:54] cyrille-leclerc opened #261 "'sh' step errors don't provide much insights"
### Feature Request

Pipeline Shell Step errors are not very meaningful. Could we enable logs correlation ? Or capture stderr?

![image](https://user-images.githubusercontent.com/459691/146547534-7c530ad4-0e8a-4ec5-939b-a6f4a9059d39.png)

cc @kuisathaverat

[2021-12-17 13:06] cyrille-leclerc opened #262 "When a job is ABORTED or NOT_BUILT, add an error at the root span level"
### Feature Request

When a job is ABORTED or NOT_BUILT, add an error at the root span level. We just add `ci.pipeline.run.result: ABORTED/NOT_BUILT` but it's not surfaced in trace visualisation tools.

![image](https://user-images.githubusercontent.com/459691/146548919-c2230110-76bd-4d82-a256-834719d581f9.png)

[2021-12-17 16:27] ipleten commented on #261
Yeah it would be extra useful but keep in mind it might expose some sensitive data like tokens or passwords.
In general I have a big hope to use this plugin to quick detect problems with pipelines in big Jenkins setup.
So we want to get answers for:

- Which stage fails the most of the time
- Which step in stage causes this and why
- Pipeline status (FAILED, UNSTABLE and so on)
- What's shared lib

[2021-12-19 20:58] #255 closed

[2021-12-19 21:12] cyrille-leclerc commented on #261
Good catch @ipleten . We could focus on collecting build logs with OpenTelemetry combined with the existing capability of trace exploration products to visualize logs associated with traces. Thanks to this, the security permission mechanisms of the trace explorer handles the problem of sensitive data.

[2021-12-20 21:32] #258 closed

[2021-12-21 09:13] cyrille-leclerc opened #269 "Bump Otel SDK to 1.10.0 RC"
### Feature Request

Bump Otel SDK to 1.10.0 RC

[2021-12-21 09:32] #224 closed

[2021-12-24 16:26] cyrille-leclerc commented on #247
Commit https://github.com/jenkinsci/opentelemetry-plugin/pull/271/commits/0096290547c5fdd34bfcc0272a15d41e13a37454 will help deliver OTLP/HTTP

[2021-12-24 16:26] cyrille-leclerc commented on #247
Commit https://github.com/jenkinsci/opentelemetry-plugin/pull/271/commits/0096290547c5fdd34bfcc0272a15d41e13a37454 will help deliver OTLP/HTTP

[2021-12-30 16:25] ipleten opened #281 "stages with 'skipped due to earlier failure(s)' should have attribute or another status"
### What feature do you want to see added?

Hello,
We are trying to use opentelemetry  to find where exactly pipelines is failed and build some alerting on this.
Currently if stage fails all other also marked as failed. So using search  with otel_status='ERROR' will return all stages - the one which actually failed and all  next which were marked  as 'skipped due to earlier failure(s)'. Which is a

[2021-12-30 17:13] ipleten opened #282 "Root span for Jenkins Pipeline (not multibranch) is missing."
### Describe your use-case which is not covered by existing documentation.

When using Jenkins pipeline there is no root span. We can just see some parts of tracing rendered (via NewRelic opentelemetery integration). Therefore for multibracn we able to see whole tracing  but for Pipeline it renders individual stages as standalone tracings.
![image](https://user-images.githubusercontent.com/6207156

[2022-01-02 20:46] cyrille-leclerc commented on #281
Good catch, thanks.
We were also working on this family of UX glitches with @v1v and @kuisathaverat . We have already created:
* https://github.com/jenkinsci/opentelemetry-plugin/issues/262
* https://github.com/jenkinsci/opentelemetry-plugin/pull/263

We need to continue to improve the UX for this scenario.
We have to improve `MonitoringPipelineListener#endCurrentSpan` to handle differently `Abort

[2022-01-02 22:18] cyrille-leclerc commented on #281
@ipleten can you look at the UX of https://github.com/jenkinsci/opentelemetry-plugin/pull/283 ? Does it improve the readability?

[2022-01-02 22:21] cyrille-leclerc commented on #282
Can you confirm that the missing root span is not a transient problem that happens as long as the build is not completed?
It's a common problem caused by the fact that the OpenTelemetry SDK sends the spans to the observability backend after they end.
If it's not this cause, can you please reproduce with Jaeger?

[2022-01-04 12:02] alexey-kudrya opened #288 "Cannot customize the `service.name` and `service.namespace`"
### Jenkins and plugins versions report

<details>
  <summary>Environment</summary>

[code]

</details>

### What Operating System are you using (both controller, and any agents involved in the problem)?

Hello,
I'm trying to change `service.name` and `service.namespace` in **Jenkins > Manage Jenkins > Configure System > OpenTelemetry > Advanced**, but I still receive default value `jenkins`. For

[2022-01-04 15:19] BenB196 opened #289 "Input Step is not Ignore when added to the Ignore List"
### Jenkins and plugins versions report

Jenkins: 2.327
OS: Linux - 5.4.0-91-generic
---
ace-editor:1.1
apache-httpcomponents-client-4-api:4.5.13-1.0
authentication-tokens:1.4
authorize-project:1.4.0
blueocean:1.25.2
blueocean-autofavorite:1.2.4
blueocean-bitbucket-pipeline:1.25.2
blueocean-commons:1.25.2
blueocean-config:1.25.2
blueocean-core-js:1.25.2
blueocean-dashboard:1.25.2
blueocean-display

[2022-01-04 15:48] cyrille-leclerc commented on #288
This could be a regression of v1.1.0-rc2. I'll check asap.

[2022-01-04 23:24] cyrille-leclerc commented on #288
I'll cut V1.1.1 on Wednesday with the fix https://github.com/jenkinsci/opentelemetry-plugin/pull/291

[2022-01-05 09:40] cyrille-leclerc commented on #288
Please upgrade to v1.1.1
https://github.com/jenkinsci/opentelemetry-plugin/releases/tag/opentelemetry-1.1.1

[2022-01-05 09:40] #288 closed

[2022-01-05 12:29] #242 closed

[2022-01-05 12:29] #243 closed

[2022-01-05 12:30] #246 closed

[2022-01-05 12:30] #262 closed

[2022-01-06 12:12] cyrille-leclerc commented on #247
@dkluba can you please test https://github.com/jenkinsci/opentelemetry-plugin/releases/tag/opentelemetry-1.2.0-rc1 adding the configuration property `otel.exporter.otlp.protocol=http/protobuf'

[2022-01-06 12:14] cyrille-leclerc commented on #281
@ipleten can you please test https://github.com/jenkinsci/opentelemetry-plugin/releases/tag/opentelemetry-1.2.0-rc1 ?

[2022-01-06 22:08] cyrille-leclerc commented on #247
@dkluba please prefer 1.2.0-rc2 : https://github.com/jenkinsci/opentelemetry-plugin/releases/tag/opentelemetry-1.2.0-rc2

[2022-01-06 22:10] #247 closed

[2022-01-06 22:10] #256 closed

[2022-01-06 22:10] #257 closed

[2022-01-06 22:10] #269 closed

[2022-01-06 22:10] #281 closed

[2022-01-08 18:21] BenB196 commented on #289
Closing this issue. I upgraded to `1.1.1` and am no longer seeing this issue.

[2022-01-08 18:21] #289 closed

[2022-01-09 22:23] cyrille-leclerc commented on #113
Closing: solved with
* Elastic / Kibana dashboard: https://github.com/jenkinsci/opentelemetry-plugin/blob/master/docs/DASHBOARDS.md
* Splunk dashboard: https://github.com/splunk/splunk-jenkins-otel

[2022-01-09 22:23] #113 closed

[2022-01-09 22:24] cyrille-leclerc commented on #92
Duplicate of https://github.com/jenkinsci/opentelemetry-plugin/issues/245

[2022-01-09 22:24] #92 closed

[2022-01-09 22:25] cyrille-leclerc commented on #82
Can now also be defined in the "Configuration Properties" text area

[2022-01-09 22:25] #82 closed

[2022-01-09 22:25] cyrille-leclerc commented on #73
Fixed

[2022-01-09 22:25] #73 closed

[2022-01-09 22:26] cyrille-leclerc commented on #76
Close, Can't reproduce

[2022-01-09 22:26] #76 closed

[2022-01-09 22:27] cyrille-leclerc commented on #6
Close: we recommend to use the `sh(label='xxx',...)` and the `otel-cli` to add context

[2022-01-09 22:27] #6 closed

[2022-01-09 22:28] #86 closed

[2022-01-10 16:22] dkluba commented on #247
Thanks! I'll give it a try soon.

Sorry I didn't respond - I asked out of curiosity, following the trend in OT of making HTTP default one (or at least this is my impression)

[2022-01-19 16:50] SenthilkumarRasan opened #301 "Kibana dashboards(overview and provisioning) are empty"
There is no data in both dashboards imported from repo.
I see no issue wth traces.
Is there any additional config required to get the metrics data used in dashboards

[2022-01-20 16:24] v1v commented on #301
Hi @SenthilkumarRasan,

Thanks for your issue, from your description I cannot understand what's exactly the issue about, would you mind to provide further details that can help to understand whether the issue is within the plugin, the dashboards or the setup in your end?

Some questions that could help with this troubleshooting are:

1) Is this issue related to the dashboards, the traces or everyt

[2022-02-16 21:00] cyrille-leclerc opened #319 "IndexOutOfBoundsException in io.jenkins.plugins.opentelemetry.job.log.OverallLog.writeHtmlTo(OverallLog.java:121)"
### Jenkins and plugins versions report

<details>
  <summary>Environment</summary>

[code]

</details>

### What Operating System are you using (both controller, and any agents involved in the problem)?

MacOS

### Reproduction steps

Run a build

### Expected Results

Pipeline logs properly loaded from Elasticsearch

### Actual Results

## Correct entry
 * message: `[Pipeline] node`
 * annotatio

[2022-02-17 13:51] tobiasrodestock opened #320 "OpenTelemetry HTTP Error 404 sending Otel signals to Elastic using OTLP/HTTP"
### Jenkins and plugins versions report

<details>
  <summary>Environment</summary>

[code]

</details>

### What Operating System are you using (both controller, and any agents involved in the problem)?

Machine operating system: Linux
Jenkins version: 2.303.3.3
OpenTelemetry plugin:  1.2.1
Elastic APM Server: 7.15.1

### Reproduction steps

1. Setup OpenTelemetry Plugin
2. Configure Elastic APM

[2022-02-17 22:31] v1v opened #321 "java.lang.NoClassDefFoundError: org/parboiled/common/StringUtils at io.jenkins.plugins.opentelemetry.administrativemonitor.ElasticBackendDashboardNotEnabledAdministrativeMonitor"
### Jenkins and plugins versions report

<details>
  <summary>Environment</summary>

jenkins/jenkins:2.303.3

blueocean
cloudbees-folder
configuration-as-code
docker-workflow
git
filesystem_scm
jdk-tool
job-dsl
opentelemetry:1.2.1
pipeline-model-definition
swarm
workflow-aggregator
workflow-cps
workflow-cps-global-lib

</details>

### What Operating System are you using (both controller, and any a

[2022-02-17 22:32] v1v commented on #320
Hi @tobiasrodestock

Thanks for your issue and details, I tried to reproduce the issue in a local environment with a kind of similar versions (bear with me `2.303.3.3` is not a version I can use but `2.303.3` instead ) and I was not able to reproduce the error.

### What did I try?

[code]

Then, go to http://localhost:8080/ and click on the `Hello` pipeline and build.

And you will see traces in

[2022-02-19 20:07] cyrille-leclerc opened #322 "ElasticsearchLogsRetriever: ClassCastException: class org.glassfish.json.JsonProviderImpl cannot be cast to class jakarta.json.spi.JsonProvider"
### Jenkins and plugins versions report

<details>
  <summary>Environment</summary>

[code]

</details>

### What Operating System are you using (both controller, and any agents involved in the problem)?

[Latest](https://github.com/jenkinsci/opentelemetry-plugin/pull/304)

### Reproduction steps

* Enabled "Store Logs in Elastic and display logs through Elastic and Jenkins"
* Trigger a build
* Na

[2022-02-19 20:16] cyrille-leclerc commented on #322
[code]

[2022-02-19 22:50] cyrille-leclerc commented on #322
See https://github.com/elastic/elasticsearch-java/issues/55

[2022-02-20 08:32] cyrille-leclerc commented on #322
When I remove the dependency `org.glassfish:javax.json:1.1.4`, I get a

[code]

[2022-02-20 08:47] cyrille-leclerc commented on #322
See https://github.com/elastic/elasticsearch-java/issues/163

[2022-02-21 08:49] kuisathaverat commented on #322
In the SAML plugin, I have faced a similar issue that I resolved here https://github.com/jenkinsci/saml-plugin/blob/main/src/main/java/org/jenkinsci/plugins/saml/OpenSAMLWrapper.java#L58-L77

[2022-02-21 09:33] cyrille-leclerc opened #323 "Add warning on configuration if `otlp.exporter.otlp.endpoint` is `localhost`"
### What feature do you want to see added?

Add warning on configuration if `otlp.exporter.otlp.endpoint` is `localhost` because the `otlp.exporter.otlp.endpoint` is propagated to build agents both as environment variables and when sending logs via OTLP.

### Upstream changes

_No response_

[2022-02-21 09:37] cyrille-leclerc opened #324 "ElasticsearchLogsRetriever that just displays an hyperlink to Kibana"
### What feature do you want to see added?

ElasticsearchLogsRetriever that just displays an hyperlink to Kibana in the case where I don't have read credentials to Elasticsearch or I don't want to visualize through logsJenkins.

### Upstream changes

_No response_

[2022-02-22 12:44] #321 closed

[2022-02-22 12:44] #322 closed

[2022-02-22 12:44] #324 closed

[2022-02-22 12:50] cyrille-leclerc opened #329 "Logs visualization config change don't get propagated to the visualization of logs that have recently been displayed"
### Jenkins and plugins versions report

<details>
  <summary>Environment</summary>

[code]

</details>

### What Operating System are you using (both controller, and any agents involved in the problem)?

2.0.0-SNAPSHOT

### Reproduction steps

* Configure the otel plugin with the Elastic backend with the 'Logs visualization both in Kibana and through Jenkins screens"
* Launch a build
* Visualize

[2022-02-22 12:53] cyrille-leclerc opened #330 "Pipeline logs sent to Otel: "Console Output / View as plain text" don't provide a link to the logs visualization backend."
### Jenkins and plugins versions report

<details>
  <summary>Environment</summary>

[code]

</details>

### What Operating System are you using (both controller, and any agents involved in the problem)?

latest 2.0.0-SNAPSHOT

### Reproduction steps

* Enable OTel Plugin with "store logs in Elastic" with "visualize logs both in Kibana and through Jenkins screens"
* Trigger a build
* Navigate to "

[2022-02-22 13:57] #319 closed

[2022-02-22 15:42] cyrille-leclerc opened #333 "Pipeline logs sent to Otel: viewing step logs the beginning of the pipeline build logs rather than narrowing down to the step logs"
### Jenkins and plugins versions report

<details>
  <summary>Environment</summary>

[code]

</details>

### What Operating System are you using (both controller, and any agents involved in the problem)?

Latest 2.0.0-SNAPSHOT

### Reproduction steps

* Enable "Store Logs in Elastic / Display logs both in Kibana and through Jenkins screens"
* Trigger a build
* visualizer the step logs

### Expecte

[2022-02-22 20:38] #329 closed

[2022-02-22 20:52] cyrille-leclerc opened #334 "Report the TTL of the logs stored in Elastic"
### What feature do you want to see added?

When using the ElasticsearchLogStorageRetriever, report the TTL of the logs messages.
This means the Time To Delete of the ILM Policy of the Index Template `logs-apm.app` / `logs-apm.app-*`. The default ILM policy associated to this template is `logs-apm.app_logs-default_policy`

### Upstream changes

_No response_

[2022-02-23 08:58] cyrille-leclerc opened #336 "UnexpectedJsonEventException invoking `ElasticsearchIndicesClient.getIndexTemplate(getIndexTemplate(b-> b.name("logs-apm.app"))`"
### Jenkins and plugins versions report

<details>
  <summary>Environment</summary>

[code]

</details>

### What Operating System are you using (both controller, and any agents involved in the problem)?

2.0.0

### Reproduction steps

[code]

### Expected Results

The `logs-apm.app` index template, similar to the HTTP request `GET /_index_template/logs-apm.app`

### Actual Results

[code]

### An

[2022-02-23 11:31] #334 closed

[2022-02-23 11:31] cyrille-leclerc commented on #334
Reported in the "Validate Elasticsearch Configuration" for the moment.

[2022-02-23 14:00] v1v opened #338 "BlueOcean view is not supported while using the ElasticLogs backend"
### Jenkins and plugins versions report

<details>
  <summary>Environment</summary>
  tag: "2.319.3-jdk11"

[code]

</details>

### What Operating System are you using (both controller, and any agents involved in the problem)?

docker
k8s
GCP

### Reproduction steps

1. Configure the Elastic logs backend
2. Runb a build
3. Go to Blue Ocean

### Expected Results

Report the output similar to what t

[2022-02-23 14:35] cyrille-leclerc opened #340 "ClassNotFoundException on Jenkins Agent shutdown caused by Otel SDK shutdown"
### Jenkins and plugins versions report

<details>
  <summary>Environment</summary>

[code]

</details>

### What Operating System are you using (both controller, and any agents involved in the problem)?

2.0.0

### Reproduction steps

* Enable sending pipeline logs through Otel
* Trigger a pipeline that execute on a JNLP agent
* shutdown the Jenkins Controller

### Expected Results

Graceful shut

[2022-02-23 15:56] cyrille-leclerc commented on #336
Move to later as we have implemented a workaround.

[2022-02-24 06:24] tobiasrodestock commented on #320
Hey, thank you for taking your time. It did work locally with the things you suggested. 
I did manage to make it work by using the OTEL Collector and Exporter. To me, it seems as the Elastic APM Server only supports gRCP and not HTTP. The corporate proxy that is between the Jenkins machine and the machine where Elastic is running is probably responsible for gRCP not working. When I now send the me

[2022-02-24 11:10] kuisathaverat commented on #338
It makes sense, it allows to filter step logs.

[2022-02-24 22:52] cyrille-leclerc opened #342 "Failure on delete: VerifyException"
### Jenkins and plugins versions report

<details>
  <summary>Environment</summary>

[code]

</details>

### What Operating System are you using (both controller, and any agents involved in the problem)?

2.0.0

### Reproduction steps

@kuisathaverat to describe

### Expected Results

No exception

### Actual Results

[code]

### Anything else?

_No response_

[2022-02-24 22:55] cyrille-leclerc commented on #342
When `OtelTraceService.setupContext()` is invoked by `OtelContextAwareAbstractRunListener.onDeleted()` should `OtelTraceService#getSpan(Run, verify=false)` rather than `OtelTraceService#getSpan(Run, verify=true)`

[2022-03-01 08:50] wajika commented on #301
I have similar doubts, I use helloworld to test on a newly deployed jenkins, this is my first operation, I don't know right or wrong.
After the build I click "View pipeline with Elastic Observability", the browser goes into kibana, but I don't see any data.
I suspect helloworld is not suitable for testing opentelemetry.
We use dotnet language development, that is, do not use maven and Gradle, so i

[2022-03-01 09:09] v1v commented on #301
@wajika , thanks for your comment, If I understood correctly, your issue is a bit different, OpenTelemetry works regardless of the type of jobs, technology or whatsover as long as it runs in Jenkins then traces should be shown.
Would you mind if I ask you to raise a new GitHub issue and provide as much details as possible about your existing environment. please?

[2022-03-01 09:13] wajika commented on #301
Do you think the problems are not similar? OK, I'll start a new issue, by the way what other information do I need to provide?

[2022-03-01 09:17] v1v commented on #301
thanks @wajika, if you go to https://github.com/jenkinsci/opentelemetry-plugin/issues/new/choose then choose a bug issue, there is a form that helps with what details are important

[2022-03-01 09:22] wajika opened #348 "Using Jenkins HelloWorld did not generate observation data."
I use helloworld to test on a newly deployed jenkins, this is my first operation, I don't know right or wrong.
After the build I click "View pipeline with Elastic Observability", the browser goes into kibana, but I don't see any data.
I suspect helloworld is not suitable for testing opentelemetry.
We use dotnet language development, that is, do not use maven and Gradle, so is there any simple case

[2022-03-01 09:56] v1v commented on #348
Hi, would you mind if I ask you to provide further details, such as:

- Jenkins version
- Java version
- Plugin versions
- Backend versions

Then i could try to reproduce this issue.

Meanwhile, i just tried with the hello-world example in one of my test environments for Jenkins with Otel and it works

![Kapture 2022-03-01 at 09 53 22](https://user-images.githubusercontent.com/2871786/156146972-1b

[2022-03-01 10:12] wajika commented on #348
hi I just used the demos directory sample again, it's a whole docker-compose structure, I run it successfully. But I still don't see any data on kibana, but I feel that apm transaction has been generated.

[code]

![image](https://user-images.githubusercontent.com/17058349/156149743-dd1cf309-36d2-4876-b123-fed75fd444ac.png)
![image](https://user-images.githubusercontent.com/17058349/156149936-3c90

[2022-03-01 10:17] wajika commented on #348
I waited for a few minutes, the data appeared on kibana, thank you for your help and reply.

I'll try it tomorrow and try again the helloworld sample.

[2022-03-01 10:17] #348 closed

[2022-03-03 03:35] wajika opened #349 "env file missing from demos directory"
### Describe your use-case which is not covered by existing documentation.

![image](https://user-images.githubusercontent.com/17058349/156491145-8de16008-88f9-41a5-803d-70ccf7b495c3.png)
![image](https://user-images.githubusercontent.com/17058349/156491189-e918bd63-d15a-4b75-9d05-43cb61160711.png)

### Reference any relevant documentation, other materials or issues/pull requests that can be used

[2022-03-07 14:30] cyrille-leclerc opened #351 "Elasticsearch Validation exception: ` [security_exception] unable to authenticate user [] for REST request [/_ilm/policy/logs-apm.app_logs-default_policy]`"
### Jenkins and plugins versions report

<details>
  <summary>Environment</summary>

[code]

</details>

### What Operating System are you using (both controller, and any agents involved in the problem)?

2.1.0-rc1

### Reproduction steps

* Create an Elasticsearch user with only read permission on the `logs-apm.app-*` index template on NO permission on ILM policies
* Configure the Jenkins OTel Pl

[2022-03-07 20:28] cyrille-leclerc commented on #338
Fixed in 2.1.0

[2022-03-07 20:28] #338 closed

[2022-03-07 20:28] cyrille-leclerc commented on #330
Won't fix. Not needed, links are already available on other screens.

[2022-03-07 20:28] #330 closed

[2022-03-09 13:26] #351 closed

[2022-03-09 13:29] cyrille-leclerc commented on #301
@wajika can we close this issue?

[2022-03-09 22:33] #75 closed

[2022-03-09 22:33] #245 closed

[2022-03-10 05:36] wajika commented on #301
OK

[2022-03-10 08:36] #301 closed

[2022-03-10 08:36] #342 closed

[2022-03-10 08:36] #323 closed

[2022-03-10 08:38] cyrille-leclerc commented on #320
Good catch @tobiasrodestock . We are improving our documentation https://github.com/elastic/apm-server/pull/7505

[2022-03-10 11:21] cyrille-leclerc opened #364 "NullPointerException in `MonitoringAction.getLinks()`"
### Jenkins and plugins versions report

<details>
  <summary>Environment</summary>

[code]

</details>

### What Operating System are you using (both controller, and any agents involved in the problem)?

* Otel Plugin 2.2.0

### Reproduction steps

Display pipeline homepage in a context TBD

### Expected Results

success

### Actual Results

[code]

### Anything else?

_No response_

[2022-03-10 13:54] cyrille-leclerc commented on #364
Fixed by https://github.com/jenkinsci/opentelemetry-plugin/commit/5e3815e53fc33729bdc524f8f52de4b70246d275

[2022-03-11 20:38] #364 closed

[2022-03-13 23:36] cyrille-leclerc commented on #282
@ipleten can you please help us as we don't know how to reproduce? Otherwise, we will have to close this issue as "can't reproduce".

[2022-03-17 12:48] sappersd opened #373 "Unable to change creds by jenkins UI if first time set None"
### Jenkins and plugins versions report

Jenkins OpenTelemetry Plugin version: 2.2.2

<details>
  <summary>Environment</summary>

[code]

</details>

### What Operating System are you using (both controller, and any agents involved in the problem)?

CentOS 8 Stream

### Reproduction steps

1. Go to Manage Jenkins -> System Configuration -> Configure System
2. Find "OpenTelemetry", fill "OTLP Endpo

[2022-03-20 17:45] cyrille-leclerc commented on #373
Fixed by https://github.com/jenkinsci/opentelemetry-plugin/commit/94271c6475d6a6398ad5c8c15e5b85c981107aa7

[2022-03-20 22:29] cyrille-leclerc commented on #373
@sappersd can you please test https://github.com/jenkinsci/opentelemetry-plugin/releases/tag/opentelemetry-2.3.0-rc1? It should fix your problem.

[2022-03-21 08:14] #373 closed

[2022-03-21 08:26] cyrille-leclerc opened #376 "Map Jenkins Authentication Otel Log attributes to Elastic ECS"
### What feature do you want to see added?

Map Jenkins Authentication Otel Log attributes to Elastic ECS when ingesting Jenkins Otel logs in Elastic to better integrate with Elastic SIEM.

| Jenkins OTel Log Attribute | Standard OTel Semantic Convention | Elastic ECS Field |
|--|--|--|
| `enduser.id=hudson.model.User.getId()` | yes | |
| `net.peer.ip=request.getRemoteAddr()` | yes | |
| `event.ac

[2022-03-21 09:28] cyrille-leclerc opened #377 "[Enhancement] Jenkins Security Kibana Dashboard"
### What feature do you want to see added?

# Problem Statement

Want a Jenkins Security Dashboard in Kibana with:

* Graph of authentication success & failures
* Trail of the last Jenkins security log messages
   * One of the goals is to show Jenkins admins that the authentication logs are collected and can be leveraged for security monitoring

See https://github.com/jenkinsci/opentelemetry-plugi

[2022-03-21 09:36] cyrille-leclerc opened #378 "Jenkins Kibana Dashboard reports error and is empty in new Elastic 8.1 deployments"
### Jenkins and plugins versions report

<details>
  <summary>Environment</summary>

[code]

</details>

### What Operating System are you using (both controller, and any agents involved in the problem)?

* Jenkins OpenTelemetry Plugin 2.2
* https://github.com/jenkinsci/opentelemetry-plugin/blob/opentelemetry-2.2.2/src/main/kibana/jenkins-kibana-dashboards.ndjson
* New Elastic 8.1 created from scr

[2022-03-21 11:45] MikePaquette commented on #376
Hi @cyrille-leclerc, please let me offer a couple of suggestions:

If, as the initial comment suggests, the goal is to "_Map Jenkins Authentication Otel Log attributes to Elastic ECS when ingesting Jenkins Otel logs in Elastic to better integrate with Elastic SIEM._", then yes, an optimal approach would be to attempt to map all fields from the Jenkins Otel Logs to ECS, **not** limiting mapping to

[2022-03-21 22:53] cyrille-leclerc commented on #320
Fixed with https://www.elastic.co/guide/en/apm/guide/current/open-telemetry.html#open-telemetry-otlp-limitations

[2022-03-21 22:53] #320 closed

[2022-03-22 09:00] sappersd commented on #373
Sorry for waiting. It works! Thx a lot!

[2022-03-22 10:33] cyrille-leclerc commented on #373
Thanks, GA fix with https://github.com/jenkinsci/opentelemetry-plugin/releases/tag/opentelemetry-2.3.0

[2022-03-23 15:14] sappersd opened #380 "opentelemetry-plugin >=2.2.1 won't work with opentelemetry-collector"
### Jenkins and plugins versions report

<details>
  <summary>Environment</summary>

[code]

</details>

### What Operating System are you using (both controller, and any agents involved in the problem)?

CentOS 8 Stream

### Reproduction steps

I try to use opentelemetry-plugin for sending metrics to prometheus using opentelemetry-collector. But it won't work.
`jenkins (opentelemetry-plugin) -> o

[2022-03-23 16:18] cyrille-leclerc commented on #380
We continuously test with Otel Collector (0.44.0 for me today) and we use on our production Elastic Jenkins instances with the Otel Collector. I'll deep dive on your problem.

[2022-03-23 17:32] cyrille-leclerc commented on #380
I see the Jenkins metrics verifying on the Prometheus Exposition Format web page published by the Otel Collector Contrib 0.47.0

* Jenkins OpenTelemetry Plugin 2.3.0
* OpenTelemetry Collector Contrib 0.47

<details>
<summary>otel-collector.yml</summary>

[code]
</details>

<details>
  <summary>http://localhost:8889/metrics</summary>
[code]
</details>

[2022-03-23 21:22] cyrille-leclerc commented on #380
@sappersd can you verify with a `curl http://localhost:8889/metrics` if your Jenkins metrics are captured?

[2022-03-24 06:25] sappersd commented on #380
Thx a lot for your help!

opentelemetry-collector:0.47.0
OpenTelemetry Plugin Version 2.2.1

I just copied your config for collector plugin:
<details>
  <summary>otel-collector-config.yaml</summary>

[code]
</details>

<details>
  <summary>curl 127.0.0.1:8889/metrics</summary>

[code]
</details>

And here are logs for OpenTelemetry Plugin Version 2.3.1-SNAPSHOT (private-d73fc646-root)

</details>

[2022-03-24 06:53] sappersd commented on #380
I rechecked v2.2.1 - It works as well (there was my mistake into config first time)
It looks like my problem was related with:
[code]
I am very grateful for your help! But could you please update `demos` for new versions.

[2022-03-24 08:13] cyrille-leclerc commented on #380
Thanks.

FYI https://github.com/jenkinsci/opentelemetry-plugin/pull/381

[2022-03-24 08:47] sappersd commented on #380
Yes. Thank you.

[2022-03-24 08:47] #380 closed

[2022-03-28 14:16] #378 closed

[2022-03-31 16:32] cyrille-leclerc opened #387 "Register Jenkins Otel Plugin in the Otel Registry"
### What feature do you want to see added?

Register Jenkins Otel Plugin in the Otel Registry

### Upstream changes

_No response_

[2022-03-31 18:58] cyrille-leclerc commented on #387
See https://github.com/open-telemetry/opentelemetry.io#adding-a-project-to-the-opentelemetry-registry

[2022-04-06 09:00] cyrille-leclerc commented on #282
Hello @ipleten , we run a survey to better understand Jenkins Observability needs and more broadly CI/CD Observability needs, could you by any chance answer it?
https://docs.google.com/forms/d/e/1FAIpQLSezbndR1bpPj4YeWquLLWEYOkEjEI-lSyNbtDUVrR-udpt2lA/viewform?usp=sf_link

[2022-04-06 09:01] cyrille-leclerc commented on #247
Hello @dkluba  , we run a survey to better understand Jenkins Observability needs and more broadly CI/CD Observability needs, could you by any chance answer it?
https://docs.google.com/forms/d/e/1FAIpQLSezbndR1bpPj4YeWquLLWEYOkEjEI-lSyNbtDUVrR-udpt2lA/viewform?usp=sf_link

[2022-04-06 09:02] cyrille-leclerc commented on #289
Hello @BenB196 , we run a survey to better understand Jenkins Observability needs and more broadly CI/CD Observability needs, could you by any chance answer it?
https://docs.google.com/forms/d/e/1FAIpQLSezbndR1bpPj4YeWquLLWEYOkEjEI-lSyNbtDUVrR-udpt2lA/viewform?usp=sf_link

[2022-04-06 09:03] cyrille-leclerc commented on #320
Hello @tobiasrodestock  , we run a survey to better understand Jenkins Observability needs and more broadly CI/CD Observability needs, could you by any chance answer it?
https://docs.google.com/forms/d/e/1FAIpQLSezbndR1bpPj4YeWquLLWEYOkEjEI-lSyNbtDUVrR-udpt2lA/viewform?usp=sf_link

[2022-04-06 09:04] cyrille-leclerc commented on #380
Hello @sappersd  , we run a survey to better understand Jenkins Observability needs and more broadly CI/CD Observability needs, could you by any chance answer it?
https://docs.google.com/forms/d/e/1FAIpQLSezbndR1bpPj4YeWquLLWEYOkEjEI-lSyNbtDUVrR-udpt2lA/viewform?usp=sf_link

[2022-04-06 09:04] cyrille-leclerc commented on #349
Hello @wajika  , we run a survey to better understand Jenkins Observability needs and more broadly CI/CD Observability needs, could you by any chance answer it?
https://docs.google.com/forms/d/e/1FAIpQLSezbndR1bpPj4YeWquLLWEYOkEjEI-lSyNbtDUVrR-udpt2lA/viewform?usp=sf_link

[2022-04-08 05:40] wajika commented on #349
I've already submitted an answer, but we're not using jenkins, so there may not be as many submissions
@cyrille-leclerc

[2022-04-12 08:54] cyrille-leclerc opened #400 "Clarify the meaning of the build queue metrics: `waiting` vs `blocked` vs `buildable` vs `left`"
### Describe your use-case which is not covered by existing documentation.

Want to monitor the build queue and understand if some builds are stuck...

* `left`: count of task that have gone through the build queue and left the build queue.
* `buildable`:`h.m.Queue#getBuildableItems()`
* `blocked`: Difference `h.h.q.QueueListener#onEnterBlocked - h.m.q.QueueListener#onLeaveBlocked`
* `waiting`: it

[2022-04-12 10:32] timja opened #403 "Graph job traces with Dynatrace APM"
### What feature do you want to see added?

I can't see a way to graph the Job traces in Dynatrace APM:
https://github.com/jenkinsci/opentelemetry-plugin/blob/master/docs/job-traces.md

The trace itself can be displayed fine:

<details>
<summary>Trace</summary>

![image](https://user-images.githubusercontent.com/21194782/162940468-4fa6a3da-6e8e-4826-906a-55e8a06b42cf.png)

</details>

But I would

[2022-04-13 08:39] cyrille-leclerc commented on #400
Fixed by https://github.com/jenkinsci/opentelemetry-plugin/pull/401

See https://github.com/jenkinsci/opentelemetry-plugin/blob/master/docs/monitoring-metrics.md

[2022-04-13 08:39] #400 closed, assigned to nobody

[2022-04-13 20:39] v1v commented on #403
IIUC, the entry point for the traces is a different one as per https://www.dynatrace.com/support/help/extend-dynatrace/opentelemetry/opentelemetry-traces/opentelemetry-trace-ingest-api

`https://{your-domain}/e/{your-environment-id}/api/v2/otlp/v1/traces`

https://github.com/hmcts/cnp-flux-config/blob/a504a799e2dbe955215bd4bedad2cc89643b6c27/apps/monitoring/opentelemetry-collector/ptl-intsvc/00.ya

[2022-04-13 21:28] timja commented on #403
v1/traces is automatically appended by the SDK.

Traces are being ingested fine as you can see in https://user-images.githubusercontent.com/21194782/162940468-4fa6a3da-6e8e-4826-906a-55e8a06b42cf.png

but I can't do any graphing / dashboard on them from what I can tell.

[2022-04-20 16:01] cyrille-leclerc opened #410 "Capture all authentication success and failure events"
### What feature do you want to see added?

Capture all authentication success and failure events

| Plugin | LoggedIn | Authenticated | Failed To Login | Logged Out |
| ------ | ---------- | --------------| ---------------- | ----------- |
| [github-aouth-plugin](https://github.com/jenkinsci/github-oauth-plugin) | 🔴  |  [🟢 here](https://github.com/jenkinsci/github-oauth-plugin/blob/master/src/mai

[2022-04-20 16:03] cyrille-leclerc commented on #410
@v1v @kuisathaverat please, what's the best plugin to do Google Authentication with Jenkins? I'm verifying how major auth plugins use the SecurityListener event APIs

[2022-04-20 17:12] kuisathaverat commented on #410
I'd said the [google-login-plugin](https://github.com/jenkinsci/google-login-plugin) is more used for Google authentication but it is difficult to said because the SAML is used for many SAML IdPs

* [google-login-plugin](https://github.com/jenkinsci/google-login-plugin) 5600 installs
* [saml-plugin](https://github.com/jenkinsci/saml-plugin) 18300 installs

[2022-04-21 15:39] timja opened #411 "Expose metrics on rate limit for GitHubSCMSource's"
### What feature do you want to see added?

Hi

We run a large GitHub organisation and recently collapsed our many folders down to 2

This led to us getting rate limited but not obviously it's only shown in the UI in a couple of places, if it's rate limited during a build then you'll just see what looks like hung jobs.

It would be good to be able to monitor for this.

I can probably contribute an

[2022-04-22 14:06] cyrille-leclerc commented on #411
It's a great idea. I've started to look at this, I made little progress.

I suspect that the metrics we want to observe are private fields of the `org.kohsuke:github-api` library, of the `org.kohsuke.github.GitHubClient` object.

[2022-04-22 16:42] timja commented on #411
The rate limit is available publicly,

https://github.com/jenkinsci/github-branch-source-plugin/blob/10a3514c2551bae8e4b8820c5ff3e224902f2f3d/src/main/java/org/jenkinsci/plugins/github_branch_source/GitHubAppCredentials.java#L660-L663

[2022-04-28 08:07] cyrille-leclerc opened #419 "GitHub Pull Request Builder plugin causes `IllegalStateException: STREAMED`"
### Jenkins and plugins versions report

Jenkins 2.332.2 and OpenTelemetry Plugin 2+

### What Operating System are you using (both controller, and any agents involved in the problem)?

any

### Reproduction steps

Use GitHub Pull Request Builder

### Expected Results

GitHub Pull Request Builder functional

### Actual Results

[code]

### Anything else?

_No response_

[2022-04-28 10:05] cyrille-leclerc commented on #419
Fixed by
* https://github.com/jenkinsci/opentelemetry-plugin/pull/420

[2022-04-28 14:38] #419 closed

[2022-04-28 14:38] #411 closed

[2022-05-02 12:20] cyrille-leclerc opened #421 "Pipeline log console screen is broken when the Elasticsearch retrieval fails on a timeout"
### Jenkins and plugins versions report

<details>
  <summary>Environment</summary>

[code]

</details>

### What Operating System are you using (both controller, and any agents involved in the problem)?

-

### Reproduction steps

* Setup Jenkins Otel Plugin to store pipeline logs in Elastic and to display the pipeline logs both in Elastic and through the Jenkins GUI
* Trigger a pipeline
* Displa

[2022-05-03 13:44] timja opened #424 "Metrics exporting stopped after updating the configuration of the Jenkins OpenTelemetry Plugin"
### Jenkins and plugins versions report

<details>
  <summary>Environment</summary>

[code]

</details>

### What Operating System are you using (both controller, and any agents involved in the problem)?

jenkinsci/docker
Ubuntu 20 agent

### Reproduction steps

* Setup the Jenkins OpenTelemetry Plugin with an OTLP endpoint that support metrics (e.g. Elastic or Otel Collector + Prometheus)
* Verif

[2022-05-03 14:30] cyrille-leclerc commented on #424
Sorry for the inconvenience .

Can you please collect the "Noteworthy active configuration properties" in the Jenkins OpenTelemetry advanced config in "Managed Jenkins" (navigate to the "advanced" section of the Jenkins Otel Plugin.

<img width="785" alt="image" src="https://user-images.githubusercontent.com/459691/166472496-095e6f1f-a285-4234-9883-2937a9073bd7.png">

[2022-05-03 14:40] cyrille-leclerc commented on #424
Thanks,
The exporter `otel.metrics.exporter=otlp` is defined as expected.

Do you see messages in the Jenkins logs that look like:
[code]
I'm wondering if the Otel SDK could have been reconfigured after these "4 days"

[2022-05-03 14:52] timja commented on #424
Oo interesting,

That's the exact time it stopped working:
[code]

[2022-05-03 15:06] cyrille-leclerc commented on #424
Interesting, so the metrics exporter wouldn't support the reconfiguration sequence we are using. I'll investigate

[2022-05-03 15:07] timja commented on #424
A colleague confirmed he made a manual change to system config around that time by saving the configuration page.

(unrelated to opentelemetry, he was just changing environment variables in global node properties)

[2022-05-03 15:51] cyrille-leclerc commented on #424
I understood the bug. Needs a code change to handle reconfiguration of metrics

[2022-05-04 07:26] Nezz opened #425 "Jekins Overview dashboard in Elastic Observability is missing data"
### Jenkins and plugins versions report

<details>
  <summary>Environment</summary>

[code]

</details>

Note: The provided script did not work for me. I had to remove the `sort` step and then it worked.

### What Operating System are you using (both controller, and any agents involved in the problem)?

Ubuntu
Elastic 8.1.3

### Reproduction steps

We installed the OpenTelemetry plugin and enabled

[2022-05-04 07:40] Nezz commented on #425
These logs might be relevant:
[code]

[2022-05-04 08:31] timja commented on #424
For completeness I restarted this morning and metrics are working again:

![image](https://user-images.githubusercontent.com/21194782/166647136-32d9de36-1329-4f03-8618-061cffe8d800.png)

[2022-05-04 19:19] swilliams-dev commented on #425
I too am getting this issue on the latest demo stack, seems to be related to: https://github.com/jenkinsci/opentelemetry-plugin/issues/378

[2022-05-04 19:22] swilliams-dev commented on #425
May also be related to: https://github.com/jenkinsci/opentelemetry-plugin/issues/424#issuecomment-1116169631

[2022-05-05 12:13] cyrille-leclerc commented on #425
Hello @swilliams-dev ,
You are likely to have been impacted by #424 and installing 2.5.1 fixed the problem thanks to the restart.
We are working at fixing the cause with:
* #426

Sorry for the inconvenience

[2022-05-05 20:46] cyrille-leclerc opened #427 "JenkinsOtelPluginIntegrationTest#testPipelineWithoutCheckoutShallowSteps fails with a timeout on 2.5.1 tag"
### Jenkins and plugins versions report

Checkout 2.5.1 tag (e.g. commit 795212f3fbb4ec9731e2a733b3f8777eb97111d1 [795212f])

### What Operating System are you using (both controller, and any agents involved in the problem)?

MacOS and Jenkins CI platform

### Reproduction steps

run `mvn verify`

### Expected Results

JenkinsOtelPluginIntegrationTest#testPipelineWithoutCheckoutShallowSteps succee

[2022-05-05 21:25] #424 closed

[2022-05-05 21:25] #427 closed

[2022-05-05 21:37] cyrille-leclerc commented on #427
Fixed using in unit tests the repo https://github.com/octocat/Hello-World instead of https://github.com/jenkinsci/opentelemetry-plugin

[2022-05-06 07:27] #425 closed

[2022-05-06 20:28] cyrille-leclerc commented on #425
Can you please test https://github.com/jenkinsci/opentelemetry-plugin/releases/tag/opentelemetry-2.6.0-rc1 ?

[2022-05-06 20:29] cyrille-leclerc commented on #424
Can you please test https://github.com/jenkinsci/opentelemetry-plugin/releases/tag/opentelemetry-2.6.0-rc1 ? The plugin HPI file is attached to the release notes.

[2022-05-11 23:08] swilliams-dev commented on #51
How do you do this?

[2022-05-12 00:22] swilliams-dev commented on #51
I was able to get the link working by creating a custom observability backend in /configure that had my ES base url followed by: `/app/apm/services/${serviceName}/transactions/view?rangeFrom=${startTime.minusSeconds(600)}&rangeTo=${startTime.plusSeconds(600)}&transactionName=${rootSpanName}&transactionType=unknown&latencyAggregationType=avg&traceId=${traceId}&transactionId=${spanId}`

[2022-05-12 08:29] cyrille-leclerc commented on #51
Sorry for the inconvenience.
Great "workaround".
It seems that we lost compatibility with Elastis 7.x in recent versions of the Jenkins Otel Plugin. We have to offer this compatibility again.
I reopen this issue waiting to clarify this problem.

[2022-05-12 17:44] swilliams-dev commented on #51
Thanks! Glad to provide details if I can help.

[2022-05-13 09:19] v1v opened #434 "Dashboard with the jenkins.scm.event.* metrics"
### Describe your use-case which is not covered by existing documentation.

Provide dashboard with the jenkins.scm.event.* metrics

### Reference any relevant documentation, other materials or issues/pull requests that can be used for inspiration.

_No response_

[2022-05-13 09:22] v1v commented on #434
I just made a quick dashboard to visualise the SCM events, so far the remaining github requests per user

<img width="799" alt="image" src="https://user-images.githubusercontent.com/2871786/168253223-fe504eb1-eee7-4120-82cf-a9245bd6091b.png">

The above graph is part of the existing `Jenkins Overview`, so rather than one specific one for all the SCM stuff, or do you think it's worthy to split it ?

[2022-05-15 14:40] cyrille-leclerc commented on #51
@swilliams-dev I misunderstood your problem. I thought it was an incompatibility with the 7.latest (ie 7.17) version of Elastic. I'm sorry but 7.10 is the 2020 release, an Elastic version that didn't yet have native support for the OTLP protocol and that required to use the now deprecated [OpenTelemetry Collector Exporter for Elastic](https://github.com/open-telemetry/opentelemetry-collector-contr

[2022-05-16 15:50] v1v opened #437 "Some metrics are not populated in Elastic APM"
### Jenkins and plugins versions report

<details>
  <summary>Environment</summary>

[code]

</details>

### What Operating System are you using (both controller, and any agents involved in the problem)?

Kubernetes

### Reproduction steps

1. OTEL plugin `2.5.1` reported metrics
2. Updated all the plugins to the latest version
3. Then some metrics are not reported for the `jenkins.scm.events` or

[2022-05-16 21:15] swilliams-dev commented on #51
@cyrille-leclerc it is a bureaucratic limit based on the licensing model change, we are stuck with Apache 2.0: https://www.elastic.co/pricing/faq/licensing

If you have any old resources, I also hope to rig up the dashboard on 7.10.2.

[2022-05-17 20:29] v1v commented on #437
### With the `2.3.0` version

The first trace regarding the opentelemetry SDK

[code]

While, after saving the global settings there is a new entry in the logs and metrics start to be sent

[code]

### With the `2.6.0` version

[code]

And if I save the global settings without changes:

[code]

[2022-05-18 06:28] cyrille-leclerc opened #440 "Redirection to the Elastic APM Error Page is broken with `transaction.id: "undefined"`"
### Jenkins and plugins versions report

Jenkins Otel Plugin 2.6.0

### What Operating System are you using (both controller, and any agents involved in the problem)?

N/A

### Reproduction steps

* Install the Jenkins Otel Plugin configured with the Elastic Observability integration
* Run a pipeline with a build error
* Navigate from Jenkins to the trace view of the pipeline in Elastic APM
* In E

[2022-05-25 11:29] cyrille-leclerc commented on #437
Can you please test with https://github.com/jenkinsci/opentelemetry-plugin/releases/tag/opentelemetry-2.7.1-rc1
* Enable FINE level on the following log categories:
   * `io.jenkins.plugins.opentelemetry.queue.MonitoringQueueListener`
   * `io.jenkins.plugins.opentelemetry.security.AuditingSecurityListener`
   * `io.jenkins.plugins.opentelemetry.init`
   * `io.jenkins.plugins.opentelemetry.compute

[2022-05-31 09:40] cyrille-leclerc commented on #440
Caused by https://github.com/elastic/apm-server/issues/8262

[2022-06-01 16:11] kuisathaverat opened #453 "JCasC is not loaded correctly"
### Jenkins and plugins versions report

<details>
  <summary>Environment</summary>

[code]

</details>

### What Operating System are you using (both controller, and any agents involved in the problem)?

tested on Docker compose and k8s

### Reproduction steps

1. Checkout the PR https://github.com/jenkinsci/opentelemetry-plugin/pull/452
2. Edit the file demo/config/plugins.txt changing `opentele

[2022-06-01 21:51] cyrille-leclerc commented on #453
<details>
<summary>jenkins.yml with OTel initialization log categories enabled</summary>

jenkins:
  systemMessage: "Configured automatically with JCasC plugin"
  crumbIssuer:
    standard:
      excludeClientIPFromCrumb: false
  labelString: flyweight
  log:
      recorders:
          -   loggers:
                  -   level: "FINER"
                      name: "io.jenkins.plugins.opentelemetry.j

[2022-06-02 13:53] kuisathaverat opened #455 "Add `event.category` to logs"
### What feature do you want to see added?

The current log traces do not have the `event.dataset` [ECS](https://www.elastic.co/guide/en/ecs/current/ecs-event.html#field-event-dataset) field to have this field allow to use EQL for the search and rules in Kibana.

### Upstream changes

_No response_

[2022-06-06 22:26] #453 closed

[2022-06-09 09:19] NickWemekamp opened #458 "Add support for Jenkins server logging in JSON format"
### What feature do you want to see added?

Hi,

I think a nice addition to this plugin would be to add support for the Jenkins server to log in JSON format to a file and/or to the console.

One possibility would be to add a dependency to https://github.com/elastic/ecs-logging-java and add an example logging.properties to the README that documents how to use this formatter like https://support.clo

[2022-06-11 20:01] cyrille-leclerc commented on #458
Thanks @NickWemekamp .
Would the solution of having Jenkins system logs being sent to the OpenTelemetry backend, the same way we sent the pipeline logs, work for you?

The solution you propose to adopt the Elastic ECS format for Jenkins logs is not a perfect match for the Jenkins OpenTelemetry Plugin as our focus is to export Jenkins observability signals (metrics, job execution details as traces,

[2022-06-13 07:15] NickWemekamp commented on #458
Yes that would work. I think your solution is easier to use as well.

Will you be adding more https://javadoc.io/static/io.opentelemetry/opentelemetry-api-trace/0.13.1/io/opentelemetry/api/trace/attributes/SemanticAttributes.html fields? the Exception related fields are useful.

[2022-06-13 08:36] cyrille-leclerc commented on #458
PErfect Nick, the plan is indeed to add all the Semantic Attributes to get parity with https://github.com/open-telemetry/opentelemetry-java-instrumentation/blob/v1.14.0/instrumentation/java-util-logging/javaagent/src/main/java/io/opentelemetry/javaagent/instrumentation/jul/JavaUtilLoggingHelper.java

[2022-06-16 20:00] cyrille-leclerc commented on #458
Problem solved adding the capability to export Jenkins server logs through OpenTelemetry.

Can you please test https://github.com/jenkinsci/opentelemetry-plugin/releases/tag/opentelemetry-2.8.0-rc1

[2022-06-16 20:00] #458 closed

[2022-06-20 19:33] cyrille-leclerc commented on #458
Thanks @NickWemekamp for testing.

Good catch, the UX should be improved.

Valid point.
❓  Can you confirm if you are interested in sending both the Jenkins server logs and the pipeline logs to the OpenTelemetry backend? Or if you just want to send the Jenkins serv do you want to do so?
❓ By the way, what's your OpenTelemetry backend? Have you been using the storage of pipeline logs in the Otel ba

[2022-06-21 10:00] NickWemekamp commented on #458
I'm only interested in sending the Jenkins server logs. Because otherwise I have to configure the authorization on my Elasticsearch instance as well for the Jenkins logs. And the logs page is good enough for our usecase and CTRL+F also works.
OpenTelemetry backend is Elasticsearch with an APM server. I don't store the pipeline logs.

I prefer to wait. The reason for this is that we are using Elast

[2022-06-23 14:15] evgeni opened #465 "Set `OTEL_SERVICE_NAME` as part of the exported environment variables"
### What feature do you want to see added?

In https://github.com/jenkinsci/opentelemetry-plugin/blob/7b7da3489bdc40163b32ba7241b7eb31362e64a8/src/main/java/io/jenkins/plugins/opentelemetry/JenkinsOpenTelemetryPluginConfiguration.java#L362-L383 you set a few env variables that are useful for processes running *inside* Jenkins (via `sh` and friends) to report telemetry data.

I would like to see `O

[2022-06-28 14:48] v1v commented on #465
Hello @evgeni ,

As far as I see splitting service name is a good practice, let me explain my thoughts with the below example:

Given a Jenkins pipeline that runs `Maven` and `Ansible`, if all those integrations are instrumented with OpenTelemetry, then I'd expect a service for each one.

[code]

By doing so, there is a separation between traces by the service, and the context propagation can help

[2022-06-28 14:59] evgeni commented on #465
I might have been (or am :sweat_smile: ) holding it wrong ;)

I'm reporting against honeycomb.io and somehow the trace view led me to believe I can only ever see one *service*. But that's not correct, I can very well see what you describe in the screenshots after selecting the right trace:

![image](https://user-images.githubusercontent.com/94284/176212342-9331fab0-06b4-4f67-91f3-57888e7b6b07.png)

[2022-06-28 15:30] v1v commented on #465
Thanks for the update.

For the record, we initially attempted to use the `OTEL_SERVICE_NAME` (as part of one of our Jenkins Shared Library, since the Jenkins OpenTelemetry Plugin version we used at that time didn't have support for the environment variables.) In any case, we removed the support (see https://github.com/elastic/apm-pipeline-library/pull/1261) as it didn't work quite well with the E

[2022-06-30 09:00] sithmein opened #467 "ClassCastException in GitCheckoutStepHandler after update to 2.8.0-rc1"
### Jenkins and plugins versions report

<details>
  <summary>Environment</summary>

[code]

</details>

### What Operating System are you using (both controller, and any agents involved in the problem)?

We are using the Docker image on Amazon Linux 2.

### Reproduction steps

1. Install/update OpenTelemetry plug-in to 2.8.0-rc1
2. Restart Jenkins
3. Wait for some jobs to start

### Expected Resu

[2022-06-30 11:28] sithmein opened #470 "NullPointerException in GitCheckoutStepHandler"
### Jenkins and plugins versions report

<details>
  <summary>Environment</summary>

[code]

</details>

### What Operating System are you using (both controller, and any agents involved in the problem)?

Docker image running on Amazon Linux 2

### Reproduction steps

1. Install the Opentelemetry plug-in
2. Run some jobs
3. Observe NullPointerExceptions in the controllers log related to Openteleme

[2022-06-30 11:33] cyrille-leclerc commented on #467
Fixed by
* #468

Please try fix https://github.com/jenkinsci/opentelemetry-plugin/releases/tag/opentelemetry-2.8.0-rc2

@sithmein Could you please try the fix enabling FINE log level on `io.jenkins.plugins.opentelemetry.job.step.GitCheckoutStepHandler` and capturing the log message `Skip unexpected 'scm' type: ...` ?

I'm not sure this fragility was introduced recently in the Jenkins Otel plugin.

[2022-06-30 14:54] cyrille-leclerc commented on #470
Can you please test the fix https://github.com/jenkinsci/opentelemetry-plugin/releases/tag/opentelemetry-2.8.0-rc3

[2022-07-01 15:10] sithmein commented on #470
After updating to 2.8.0-rc3 the problems seems to be gone.

[2022-07-01 15:13] sithmein commented on #467
After updated to 2.8.0-rc3 the problem seems to be gone.
I set the log level to FINE but didn't see the message yet. It only occurred very infrequently, though.

[2022-07-01 22:01] cyrille-leclerc commented on #467
Thanks for the great news, i hope your problems are solved.

Le ven. 1 juil. 2022 à 17:14, sithmein ***@***.***> a écrit :

[2022-07-07 07:33] vlad-ivanov-name opened #478 "Exporting pipeline logs to backends other than elastic"
### Describe your use-case which is not covered by existing documentation.

Hello, first of all thanks for the awesome plugin! It solves a lot of problems when it comes to observability in Jenkins.

I have a question, the page "Build Logs" mentions that pipeline logs can be stored in backends other than elastic:

https://github.com/jenkinsci/opentelemetry-plugin/blob/master/docs/build-logs.md#can-

[2022-07-10 13:51] cyrille-leclerc commented on #478
Please see updated documentation https://github.com/jenkinsci/opentelemetry-plugin/blob/master/docs/build-logs.md#can-pipeline-logs-be-stored-in-other-backends-than-elastic

Please note that there is a limitation in the visualization, it's explained in the docs. Contributions are welcome to fix the gap.

[2022-07-10 13:51] #478 closed

[2022-07-10 20:55] cyrille-leclerc commented on #478
Hello @vlad-ivanov-name, it's a limitation of Jenkins APIs that prevented us from offering the option to store the pipeline logs both in the observability backend and in the Jenkins home.

[2022-07-11 07:45] cyrille-leclerc commented on #478
Thanks for the feedback @vlad-ivanov-name . Contributions to retrieve logs from Google Cloud are welcome. I'll be happy to assist any contributor to implement this.

[2022-07-11 13:17] timmjd opened #480 "Option to skip certificate checks"
### What feature do you want to see added?

Can you please add an option to bypass the SSL certificate check for the log storage / communication?

![image](https://user-images.githubusercontent.com/508684/178271398-a9b8717e-2aca-4566-b739-cf323e77e107.png)

# Reason

If you deploy Elasticsearch via [Elastic Cloud on Kubernetes (ECK)](https://github.com/elastic/cloud-on-k8s), security and SSL commu

[2022-07-11 15:04] cyrille-leclerc commented on #480
That's a great suggestion, thanks for the feedback.

[2022-07-12 08:31] cyrille-leclerc commented on #480
@timmjd could you by any chance test the PR
* https://github.com/jenkinsci/opentelemetry-plugin/pull/481

[2022-07-12 10:22] cyrille-leclerc commented on #480
Thanks @timmjd , I'm cutting a version 2.9.0-rc1 with just this change so you are unblocked.

[2022-07-12 19:07] timmjd opened #482 "Missing shell output in Kubernetes based environment"
### Jenkins and plugins versions report

<details>
  <summary>Environment</summary>

[code]

</details>

### What Operating System are you using (both controller, and any agents involved in the problem)?

Linux, Kubernetes on AWS

### Reproduction steps

* Configure a K8S connection via the [Kubernetes Plugin](https://plugins.jenkins.io/kubernetes/) settings
* Configure OpenTelemetry plugin for `S

[2022-07-17 13:54] cyrille-leclerc commented on #482
Thanks @timmjd for the detailed report.

@jglick are you aware of such a limitation of [JEP 210](https://github.com/jenkinsci/jep/tree/master/jep/210)? A limitation where the shell console of the [Jenkins Kubernetes Plugin](https://plugins.jenkins.io/kubernetes/) would not be routed to the `h.m.BuildListener` provided by the `o.j.p.w.log.LogStorage`?

@kuisathaverat  @v1v can we test on our enviro

[2022-07-18 11:25] cyrille-leclerc commented on #482
Good catch @kuisathaverat , you rock!
@timmjd can you verify the OTLP endpoint you configured in the Jenkins OpenTelemetry plugin configuration are also valid from the Kubernetes build agents?

[2022-07-18 13:49] timmjd commented on #482
Damn, that was the missing thing.

Our job runs inside a separate namespace of the cluster - and I only used the local DNS `http://default-elasticsearch-ccif-ot-collector:4317` instead of the global one `http://default-elasticsearch-ccif-ot-collector.vni-pmt.svc.cluster.local:4317`.

I finally exposed the OTLP endpoint via a nginx based ingress - should now work for OnPrem and in cluster.

During

[2022-07-18 13:49] #482 closed

[2022-07-18 18:14] jglick commented on #482
#304 IIUC? :eyes:

The `kubernetes` plugin does not stream agent log messages (like stderr from `java -jar agent.jar`) to the build log. Would probably be helpful to do so. It did stream K8s events pertaining to the pod to the build log, but this was removed in https://github.com/jenkinsci/kubernetes-plugin/pull/1192. CC @Vlatombe

[2022-07-22 14:01] timmjd opened #484 "Plugin generates thousands of threads"
### Jenkins and plugins versions report

<details>
  <summary>Environment</summary>

[code]

</details>

### What Operating System are you using (both controller, and any agents involved in the problem)?

The current implementation seems to spawn tons of threads over time

### Reproduction steps

Run OpenTelemetry with logging forward for quiet a time

### Expected Results

Threads will stay relat

[2022-07-27 10:25] timmjd commented on #484
Digging a bit more into the issue.

Looks like this is only happens if the `Store pipeline logs In Elastic and visualize logs both in Elastic and through Jenkins` option is used.

For a given job:
[code]
the following timestamps represent the thread count:

1. Jenkins freshly restarted
2. With the option `Don't store pipeline logs in Elastic`, execute the job 10 times
3. All Jobs finished: Thread

[2022-07-28 07:59] cyrille-leclerc commented on #484
Sorry for the inconvenience and thank you for all the troubleshooting.
I'm on holidays but I'm exploring the problem.

[2022-08-18 08:51] cyrille-leclerc commented on #484
potential http connection leak on the Elasticsearch access found. I'm introducing [ErrorProne](https://errorprone.info/index) checker to put it under control.

[2022-08-18 15:43] cyrille-leclerc commented on #470
Fixed in 2.9.0

[2022-08-18 15:43] #470 closed

[2022-08-18 15:44] cyrille-leclerc commented on #467
Fixed in 2.9.0

[2022-08-18 15:44] #467 closed, assigned to nobody

[2022-08-18 16:21] cyrille-leclerc commented on #437
@v1v is this bug fixed?

[2022-08-18 16:31] cyrille-leclerc commented on #484
@timmjd can you please test https://github.com/jenkinsci/opentelemetry-plugin/releases/tag/opentelemetry-2.9.1-beta-1 and check if the thread leak is fixed?

[2022-08-20 11:49] timmjd commented on #484
Niiiiice, looks like you fixed it:

Even with ~50 builds, the thread count goes back to normal after a few minutes. There is also no pool or I/O thread hanging anymore. Thank you very much!

![image](https://user-images.githubusercontent.com/508684/185744452-df822c8a-7765-43eb-a163-c1dba857d11c.png)

[2022-08-20 12:11] cyrille-leclerc commented on #484
Thank you so much for testing in depth and for sharing feedback on your Saturday

[2022-08-23 09:51] #484 closed

[2022-08-23 10:00] cyrille-leclerc commented on #440
Will be fixed in Elastic Observability 8.4

[2022-08-23 19:02] #465 closed

[2022-08-24 22:44] timmjd opened #498 "Release 2.9.1 broken if logs are not stored in Elastic"
### Jenkins and plugins versions report

<details>
  <summary>Environment</summary>

[code]

</details>

### What Operating System are you using (both controller, and any agents involved in the problem)?

Linux

### Reproduction steps

* Install opentelemetry plugin 2.9.1
* Configure system to "Don't store pipeline logs in Elastic"
* Build a job and select the console output
* You will not see the

[2022-08-25 19:30] cyrille-leclerc commented on #498
Fixed in 2.9.2

[2022-08-25 19:31] #498 closed

[2022-08-29 09:10] Omeramsc opened #501 "IncompatibleClassChangeError with OT `current` method."
### Jenkins and plugins versions report

<details>
  <summary>Environment</summary>
[code]

</details>

### What Operating System are you using (both controller, and any agents involved in the problem)?

I'm running Jenkins v2.319.3 on a pod deployed with podman v4.1.1 from my RHEL machine.

### Reproduction steps

1. build and run a jenkins container (I use quay.io/openshift/origin-jenkins:4.12.0

[2022-09-06 19:15] v1v commented on #501
Can you use the context propagation with some environment variables available for each shell/bat step?

https://github.com/jenkinsci/opentelemetry-plugin/blob/master/docs/job-traces.md

Those env variables are the ones used to integrate Jenkins with some other tools such as maven, ansible, pytest, otel-cli. Those integrations are the ones reading those env variables of they are available. They are

[2022-09-12 17:03] alsterg opened #503 "Some API calls lack documentation"
### Describe your use-case which is not covered by existing documentation.

Example APIs are: setExporterTimeoutMillis, setExporterTimeoutMillis, setAuthentication​, setAuthentication​.
Although the names are to some degree self-descriptive, it is not entirely clear in every case. It would be nice to have a short description.

### Reference any relevant documentation, other materials or issues/pul

[2022-09-12 17:12] alsterg commented on #503
Also it is not clear from the docs what are the default values, and what is are the necessary values that need to be set (minimum config).

[2022-09-16 16:41] v1v commented on #501
@Omeramsc , I'll close this issue now, the context propagation with the env variables can help to glue the integrations. If you find a different use case please reopen this issue with further details

Thanks

[2022-09-19 08:24] v1v commented on #503
Thanks @alsterg for raising this issue. To help with some documentation can be found under the [config.jelly](https://github.com/jenkinsci/opentelemetry-plugin/blob/master/src/main/resources/io/jenkins/plugins/opentelemetry/JenkinsOpenTelemetryPluginConfiguration/config.jelly) file, those descriptions are set when using the Jenkins UI.

Some of those setters are related to the OpenTelemetry SDK cu

[2022-09-22 13:12] timmjd opened #520 "Incorrect handling on live log for logs > 10kb"
### Jenkins and plugins versions report

<details>
  <summary>Environment</summary>

[code]

</details>

### What Operating System are you using (both controller, and any agents involved in the problem)?

Linux

### Reproduction steps

* Configure OpenTelemetry plugin to "Store pipeline logs In Elastic and visualize logs both in Elastic and through Jenkins"
* Create any Jenkins Job that will do ge

[2022-09-28 13:06] v1v commented on #503
Accessing the internals might not be trivial for some people. I'm not sure if explaining how to use Groovy to configure the tool outside of JCasC will be broadly used or needed, in addition, it might require to update the docs if any changes in the internals -- and internals are not aimed to be consumed so breaking changes could happen at any moment of time.

For that reason, I'd suggest to use [J

[2022-09-28 14:50] #503 closed

[2022-09-29 07:59] kuisathaverat commented on #437
no, it is still there

<img width="991" alt="Screenshot 2022-09-29 at 09 58 27" src="https://user-images.githubusercontent.com/5400788/192974355-f534ab9b-ef34-4eba-a3e8-fafcbdcc8ccf.png">

<img width="918" alt="Screenshot 2022-09-29 at 09 59 08" src="https://user-images.githubusercontent.com/5400788/192974495-605055bb-05ae-4403-ae5b-16bccfc63d6f.png">

[2022-10-04 06:54] Neelam-zanvar opened #525 "sending jenkins metrics from otel plugin to elastic APm"
How can i configure otel plugin to send job metric to elastic APM via otel collector. what will be the otel collector receiver>

[2022-10-07 15:55] v1v commented on #525
https://github.com/jenkinsci/opentelemetry-plugin/blob/master/demos/config/otel-collector-config.yaml contains an example of configuring the OTEL collector against different vendors for metrics logs and traces, if it helps

Otherwise, i'd suggest to go to the official OTEL docs as there might be some considerations to take into accoint, such as the version of the collector and the vendors you migh

[2022-10-13 06:15] Neelam-zanvar opened #534 "Jenkins logs in elastic APM"
Hi, I've installed otel plugin on jenkins and installed elastic APM on elk server machine. i want to visualise jenkins logs on elk server. When configuring the plugin i am getting
![image](https://user-images.githubusercontent.com/98389856/195516403-11e3d31a-def9-424e-8582-a1cee37a5bae.png)

I'am not getting any documentation for using this plugin and configuring it with apm. Please help!

[2022-10-13 09:03] Neelam-zanvar opened #535 "Jenkins overview shows blank"
![image](https://user-images.githubusercontent.com/98389856/195551692-d36cbdd3-2e44-43dc-a6c0-f1931eaf567b.png)
![image](https://user-images.githubusercontent.com/98389856/195552013-9992b81b-6644-4184-b9dc-cf5be47239b8.png)
![image](https://user-images.githubusercontent.com/98389856/195552253-8a7f5671-7a98-49fa-b770-52f02a1129e2.png)
![image](https://user-images.githubusercontent.com/98389856/1955

[2022-10-14 07:35] Neelam-zanvar opened #536 "The field "jenkins.agents.total" associated with this object no longer exists in the index pattern. Please use another field."
On the jenkins overview dashboard i am not getting any node data
![image](https://user-images.githubusercontent.com/98389856/195788805-221dfb76-0532-4ae2-aeb7-5517332dda1c.png)
![image](https://user-images.githubusercontent.com/98389856/195789011-6430576e-5b8e-4103-9ffd-aeeae2e8f0a0.png)
also there is no queue data. when i click on edit visualisation i am getting this error The field "jenkins.agen

[2022-10-15 08:23] v1v commented on #536
Thanks for reporting this. Duplicates https://github.com/jenkinsci/opentelemetry-plugin/issues/437

[2022-10-15 08:23] #536 closed

[2022-10-15 08:33] v1v commented on #534
https://github.com/jenkinsci/opentelemetry-plugin/blob/master/docs/build-logs.md is the main doc regarding configuring the logs.

Regarding the jenkins controller, maybe in the logs you can see some details.

Regarding the elastic stack you also need to check in the logs and discover if any data were sent.

Finally, https://github.com/jenkinsci/opentelemetry-plugin/tree/master/demos is a docker ba

[2022-10-15 08:39] v1v commented on #535
Thanks for reaching out.

Unfortunately,  there is no much we can do, there is no information regarding the controller, plugin version or even logs

We don't know much about your services and how they are configured, whether they can see each other l, the security or even the OTEL collector is enabled and configured

I could guess from the screenshots:
1.  the apm server/OTEL collector connection

[2022-10-15 08:40] v1v commented on #525
No further feedback, so closing this now

[2022-10-15 08:40] #525 closed

[2022-10-17 05:09] Neelam-zanvar commented on #534
I am not using the jenkins controller. sending logs from jenkins directly to APM. APM server has no authorization required to connect to it. For elasticsearch authorization is enabled. which ive setup for the plugin but still i am getting the error shown in the image. I've installed otel plugin on jenkins its config shown in image. and on apm side ive only installed apm server on elk machine

[2022-10-17 05:23] Neelam-zanvar commented on #535
Well i am now able to see the dashboard. i had missed the import dashboard to kibana step. but i am still getting few metrics as blank
![image](https://user-images.githubusercontent.com/98389856/196094413-358ce40f-6946-4e44-a0d2-6b71651e3608.png)
![image](https://user-images.githubusercontent.com/98389856/196094504-3b21d15e-c837-4927-8d86-a72671efff8f.png)
![image](https://user-images.githubuserco

[2022-10-17 10:55] v1v commented on #535
Unfortunately, I cannot provide any answers as I don't know the existing networking topology for your existing services and whether they can see each other.

I can say there are some errors in the screenshots you provided:

[code]

I tried your setup with the demo environment:
- Jenkins core 2.361.2
- OpenTelemetry Plugin 2.9.2
- Elastic STack 8.4.2
- APM Server without authentication

And it work

[2022-10-17 11:03] v1v commented on #534
I'm afraid we cannot provide any help with the existing provided information. In telemetry-plugin/issues/535#issuecomment-1280305062 it seems an error is shown when connecting to Elasticsearch `401`.

You can debug the Jenkins OpenTelemetry plugin in Jenkins:

- https://www.jenkins.io/doc/book/system-administration/viewing-logs/#logs-in-jenkins

Then you can enable some of them, for instance the o

[2022-10-17 11:09] v1v commented on #535
Already reported on https://github.com/jenkinsci/opentelemetry-plugin/issues/437

[2022-10-17 11:15] Neelam-zanvar commented on #535
is using fleet server and collector mandatory?

Best regards,

Neelam Zanvar Hanabaratti

Infrastructure & DevOps Engineer

Mobile: +91 8792429745

www.minutuscomputing.com<https://www.minutuscomputing.com/>

________________________________
From: Victor Martinez ***@***.***>
Sent: Monday, October 17, 2022 4:39 PM
To: jenkinsci/opentelemetry-plugin ***@***.***>
Cc: Neelam Hanabaratti ***@***.***>;

[2022-10-17 11:35] v1v commented on #535
No, this plugin works with all the Vendors that support OpenTelemetry natively or they have support with the OpenTelemetry collector:

- https://opentelemetry.io/vendors/
- https://github.com/open-telemetry/opentelemetry-collector-contrib

[2022-10-17 11:37] Neelam-zanvar commented on #535
Okay thank you for your support and time. I'll go through the links you've sent

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Victor Martinez ***@***.***>
Sent: Monday, October 17, 2022 5:06:09 PM
To: jenkinsci/opentelemetry-plugin ***@***.***>
Cc: Neelam Hanabaratti ***@***.***>; Author ***@***.***>
Subject: Re: [jenkinsci/opentelemetry-plugin] Jenkins ov

[2022-10-17 11:41] #535 closed

[2022-10-17 11:43] v1v commented on #534
Not able to reproduce the error locally using the demos environment, see https://github.com/jenkinsci/opentelemetry-plugin/issues/535#issuecomment-1280672826 that contains some details regarding the versions which were used, so I'll close this issue

[2022-10-17 11:43] #534 closed

[2022-10-18 04:16] Neelam-zanvar commented on #534
Hi,
How can i grant read permission to elastic(custom) user to index template logs-apm.app as shown in the otel plugin configuration? also it asks me to verify the existence of logs-apm.app index template.

Best regards,

Neelam Zanvar Hanabaratti

Infrastructure & DevOps Engineer

Mobile: +91 8792429745

www.minutuscomputing.com<https://www.minutuscomputing.com/>

________________________________

[2022-10-18 08:41] v1v commented on #534
I'd say to look for those details in the Elastic docs for the version you are using, those details could potentially change between versions so it's not documented here. If you'd like to contribute back to the existing documentation section in this project, and enrich it please feel free to raise a PR with your changes. https://github.com/jenkinsci/opentelemetry-plugin/blob/master/docs/build-logs.

[2022-10-21 10:51] Neelam-zanvar opened #543 "Opentelemetry plugin missing fields in elastic APM"
I have installed opentelemetry plugin in jenkins and want to visualise the metrics on elastic apm. I am able to view maximum data on jenkins dashboard on elastic observability however some fields are missing. Here are my configurations
![image](https://user-images.githubusercontent.com/98389856/197178873-50f8a823-c095-4607-9fa2-94b6a23f9c85.png)
![image](https://user-images.githubusercontent.com/9

[2022-10-22 07:32] v1v commented on #543
Duplicates https://github.com/jenkinsci/opentelemetry-plugin/issues/536

Metrics are not related to the logs credentials. IIUC, you mentioned in some previos issues that the APM server was configured without authentication.

On the other hand, in order to be more efficient, it is recommended to go through the existing open issues and see if there is any already reported, additionally, there is a t

[2022-10-22 07:32] #543 closed

[2022-11-07 14:52] kuisathaverat commented on #51
it is resolved

[2022-11-07 14:52] #51 closed

[2022-11-07 14:59] kuisathaverat commented on #421
I would say that is expected if the backend is unavailable or it takes too much time to retrieve the logs Jenkins will fail, I do not see a way to retrieve the logs if the backend does not respond.

[2022-11-07 15:02] kuisathaverat commented on #440
it is already fixed in 8.5.0

[2022-11-07 15:22] kuisathaverat commented on #520
I have tried replicating it with version 2.10 and Jenkins core 2.361.2, the issue is gone, I think that is related to the Jenkins version, nothing related to the console output has changed in the plugin.
<img width="867" alt="Screenshot 2022-11-07 at 16 14 55" src="https://user-images.githubusercontent.com/5400788/200347134-a00b9e50-82d5-4023-acc3-ab4a90dc8e89.png">

[2022-11-07 15:22] #520 closed

[2022-11-07 15:57] kuisathaverat opened #548 "OpenTelemetry plugin JCasC configuration is not enabled until you save manually the configuration"
### Jenkins and plugins versions report

<details>
  <summary>Environment</summary>

[code]

</details>

### What Operating System are you using (both controller, and any agents involved in the problem)?

When Jenkins starts the first time with a fresh JCasC configuration, the OpenTelemtry plugin configuration is not active, you have to go to Manage Jenkins and save the System Configuration withou

[2022-11-08 05:15] Neelam-zanvar opened #552 "OtelEnvironmentContributorService#addEnvironmentVariables: MonitoringAction NOT found"
Installed opentelemetry plugin on jenkins to send build logs to elastic APM. Getting this error in jenkins.log.

OtelEnvironmentContributorService#addEnvironmentVariables: MonitoringAction NOT found
![image](https://user-images.githubusercontent.com/98389856/200480878-457fb52b-d5c9-42a9-93fb-9b46123fd0a9.png)

 how can i setup the environment variable

[2022-11-10 20:08] v1v commented on #552
Please fill the form when raising an issue with further details, such as, versions, environment and how to reproduce the issue. Otherwise, screenshots don't provide enough context to provide any valuable help

Thanks

[2022-11-10 20:10] v1v commented on #552
https://github.com/jenkinsci/opentelemetry-plugin/issues/new?assignees=&labels=bug&template=1-report-bug.yml is the default template you can use

[2022-11-17 17:57] v1v commented on #552
@Neelam-zanvar I'll close this issue now, feel free to reopen it with more details
Thanks

[2022-11-17 17:57] #552 closed

[2022-11-22 19:21] SenthilkumarRasan opened #562 "OTEL reports transaction with negative latency to APM"
### Jenkins and plugins versions report

<details>
  <summary>Environment</summary>

[code]

</details>

### What Operating System are you using (both controller, and any agents involved in the problem)?

Linux

### Reproduction steps

enabled otel plugin for our cd jenkins and see discrepancy in response time and some with negative latency

### Expected Results

Latency same as we see in jenkins

[2022-11-22 19:21] SenthilkumarRasan commented on #562
<img width="1650" alt="image" src="https://user-images.githubusercontent.com/34168946/203403064-023e0928-bd9e-44b8-bce3-e4d104b79103.png">

[2022-11-24 17:07] v1v commented on #562
Unfortunately, all the details in the issue regarding the environment, version are empy

In addition,  if you can provide further details about what vendor you are using and how to reproduce the issue, without those details and only a screenshot there will be nothing we can do to help

Thanks

[2022-11-28 09:01] pgchb opened #563 "Logs not shown in BlueOcean with otel.logs.mirror_to_disk=true"
### Jenkins and plugins versions report

<details>
  <summary>Environment</summary>

[code]

</details>

### What Operating System are you using (both controller, and any agents involved in the problem)?

Linux (Pipeline runs on master)

### Reproduction steps

1. Configure OpenTelemetry plugin to "Store pipeline logs In Elastic and visualize logs both in Elastic and through Jenkins"
2. Enable `ot

[2022-11-28 09:15] pgchb opened #564 "NPE when retrieving logs of step from pipeline context"
### Jenkins and plugins versions report

<details>
  <summary>Environment</summary>

[code]

</details>

### What Operating System are you using (both controller, and any agents involved in the problem)?

Linux (Pipeline runs on master)

### Reproduction steps

1. Configure OpenTelemetry plugin to "Store pipeline logs In Elastic and visualize logs both in Elastic and through Jenkins"
2. Create a p

[2022-11-28 21:43] SenthilkumarRasan commented on #562
we are using jenkins version 2.361 with opentelemetry plugin 2.10. We use elastic APM as backend with version 8.5. One few few trace has negative response time whereas other are fine. Jenkins job has positive response time whereas data from opentelemetry has negative latency with no traces for the job. I am not sure how u can reproduce this as our CD jobs has multi step pipeline and we dont see th

[2022-11-28 22:38] cyrille-leclerc commented on #562
Hello @SenthilkumarRasan ,

Can you please provide us more context:
* What is the duration of the Jenkins job that has a negative duration reported in Elastic APM
* What is the architecture in place? Is the Jenkins controller configured to send the traces directly to Elastic APM server or are they sent to an OpenTelemetry Collector that sends the data to Elastic?
* Can you export the Elasticsearch